<div class="view aboutus">
  <div class="container-fluid sg-lightgray-bg">
    <div class="row sg-white-bg">
      <div class="col-sm-offset-1 col-sm-10">
        <h1 class="sg-h1 sg-blue">About Us</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <p>
          <strong class="sg-darkgray">Sharingear is the first trusted community marketplace for musicians and touring personnel.<br>
          We know all there is about being in a touring band, tour production, concerts, festivals and logistics and we are creating a hub where everyone can meet, create deals and share experiences.<br>
          Our vision is to create a marketplace to find the best and cheapest deals when it comes to concerts and touring.</strong>
			 </p>
        <ul>
          <li><div class="sg-icon icon-addgear-guitar sg-darkgray"></div><div>You as a musician have the opportunity to register and rent out your personal gear, or even rent gear that you are in need of from other musicians.</div></li>
          <li><div class="sg-icon icon-tabbar-technicians sg-darkgray"></div><div>Technicians have for the first time the opportunity to be payed upfront and online via their profiles and directly into their bank accounts. As a FOH engineer, tech, tour manager, production manager, merchandiser, stage-hands, etc., you have the possibility to create and showcase your profile to potential future employees.</div></li>
          <li><div class="sg-icon icon-tabbar-vans sg-darkgray"></div><div>Any van owner or company specialized in offering touring vehicles is now able to connect with any type of band without having to go through the hassle of word-of-mouth or spending large amounts of cash on marketing. Touring artists can now find the right type of transportation in order to lower productions costs.</div></li>
          <li><div class="sg-icon icon-addgear-studio sg-darkgray"></div><div>If you are in an up-and-coming band you have the opportunity to work with a high profile sound-engineer that has a great amount of touring experience under his/hers belt. Through personalized profiles, all users can add and manage their instrument rentals, bus/van orders, hire and connect with the right type of personnel.</div></li>
        </ul>
        <p>
          In other words Sharingear is the ultimate community marketplace for touring musicians, managements, booking agencies, promoters and production companies.<br>
          Its what the music industry has been in need of for years - a centralized platform with transparency and high quality service to enhance the live music experience.
        </p>
        <p>
          <strong class="sg-darkgray">Sharingear is build by musicians for musicians!</strong>
        </p>
      </div>
    </div>

    <div class="row sg-white-bg">
      <div class="col-sm-offset-1 col-sm-10">
        <h3 class="sg-h3 sg-blue">Our offices</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <p>
          We are located in the heart of Copenhagen, and our door is always open, therefore you are more than
				  welcome to drop by for a hot cop of coffee. We also love cake, and wouldnt mind if you are thinking of
				  bringing some with you.
        </p>
		  </div>
    </div>
    
    <div class="row">
		  <div class="col-sm-offset-1 col-sm-10">
        <p>
          Sharingear IVS<br>
				  Danneskiold-Samsøes Allé 41, 1,<br>
				  1434 Copenhagen K,<br>
				  Denmark<br><br>
				  E-mail:<a href="mailto:support@sharingear.com?Subject=Sent%20from%20Sharingear" target="_top">support@sharingear.com</a><br>
				  Phone number: +4540436536<br><br>
				  VAT# DK35845186
        </p>
      </div>
    </div>
    
    <div class="row">
		  <div class="col-sm-offset-1 col-sm-10">
        <div class="map" id="aboutus-map"></div>
		  </div>
    </div>
    
    <div class="row sg-white-bg">
       <div class="col-sm-offset-1 col-sm-10">
         <h1 class="sg-h1 sg-blue">Credits</h1>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
      <p>All photography on this Site is provided by concert and touring photographer Fiaz Farelly (www.fiazfarrelly.com).</p>
      </div>
    </div>

    <div class="row sg-white-bg">
      <div class="col-sm-12">
        <h2 class="sg-h2 text-center sg-blue">Testimonials from various musicians</h2>
      </div>
    </div>
    
    <div class="row sg-crowd-bg">
      <div class="col-sm-12">
        <div class="owl-carousel"></div>
      </div>
    </div>
  </div>

    

  <footer></footer>
</div>