<div class="container-fluid view aboutus sg-lightgray-bg">
  <div class="row sg-white-bg">
    <div class="col-sm-offset-1 col-sm-10">
      <h1 class="sg-h1 sg-blue">About Us</h1>
    </div>
  </div>

	<div class="row">
		<div class="col-sm-offset-1 col-sm-10">
			<p>
        Sharingear is the first trusted community marketplace for musicians and touring personnel to find the best and cheapest deals when it comes to concerts and touring.<br>
        Musicians have the opportunity to list gear, rent gear and even find the right sound-engineer. Technicians have the opportunity to showcase their profiles, and bands can find the right type of transportation in order to lower productions costs.<br>
        Through personnalized profiles users can add and manage their instrument rentals or bus/van orders, and connect with the right type of technicians.<br>
        In other words Sharingear is the ultimate marketplace for touring musicians.
			</p>
    </div>
  </div>

  <div class="row sg-white-bg">
    <div class="col-sm-12">
      <h2 class="sg-h2 text-center sg-blue">Testimonials from various musicians</h2>
    </div>
  </div>

  <div class="row sg-crowd-bg">
    <div class="col-sm-12">
      <div class="owl-carousel"></div>
    </div>
  </div>

  <div class="row sg-white-bg">
    <div class="col-sm-offset-1 col-sm-10">
      <h3 class="sg-h3 sg-blue">Our offices</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
			<p>
        We are located in the heart of Copenhagen, and our door is always open, therefore you are more than
				welcome to drop by for a hot cop of coffee. We also love cake, and wouldnt mind if you are thinking of
				bringing some with you.
      </p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-offset-1 col-sm-10">
			<p>
        Sharingear IVS<br>
				Landemærket 8,<br>
				1119 Copenhagen K,<br>
				Denmark<br>
				<br>
				E-mail:<a href="mailto:support@sharingear.com?Subject=Sent%20from%20Sharingear" target="_top">support@sharingear.com</a><br>
				Phone number: +4540436536<br><br>
				VAT# DK35845186
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-offset-1 col-sm-10">
			<div class="map" id="aboutus-map"></div>
		</div>
	</div>
</div>