
        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading addgearpanel">                    
                <div class="btn-group">
                   <a href="addgear.html"><button class="btn-large btnaddgear">ADD GEAR >></button></a></div>
                <div class="btn-group">
                  <a href="priceandlocation.html"><button class="btn-large btnaddgeartwo">PRICE & LOCATION >></button></a></div>
                
<div class="btn-group">
                  <a href="profile.html"> <button class="btn-large btnaddgeartwo">PREVIEW</button></a></div>
                

                </div>

      
                <div class="panel-body">                    
                    <div class="alert fieldwindow">


<form role="form">
<div class="col-9 fieldset"> 
<img src="images/addgear/addgear_guitar.png">
<img src="images/addgear/addgear_bass.png">
<img src="images/addgear/addgear_amp.png">
<img src="images/addgear/addgear_cabinet.png">
<img src="images/addgear/addgear_combo.png">
<img src="images/addgear/addgear_drums.png">
<img src="images/addgear/addgear_keyboard.png">
<img src="images/addgear/addgear_studio.png">
<img src="images/addgear/addgear_pa.png">
<img src="images/addgear/addgear_dj.png">
<img src="images/addgear/addgear_brass.png">
<br>
<br>
</div>

            <div class="col-lg-8">
<div class="dropdown">
  <button class="btnDropdown btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Gear type 
    <!-- <span class="caret"></span> -->
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Guitar</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bass</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Drums</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pedals</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Keyboard</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Studio</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PA</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">DJ</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Guitar Amp</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Guitar Cabinet</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bass Amp</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bass Cabinet</a></li> 
  </ul>
</div><br>
<div class="dropdown">
  <button class="btnDropdown btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Guitar
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electric Guitar </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Acoustic Guitar</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Acoustic-Electric Guitar </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Left-handed Guitar </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Classical Guitar</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ukulele </a></li>
  </ul>
</div>
<br>
<div class="dropdown">
  <button class="btnDropdown btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Bass
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electric Bass </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Acoustic Bass</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electric Upright Bass </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Left-handed Bass </a></li>
  </ul>
</div>
<br>
<div class="dropdown">
  <button class="btnDropdown btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Type of brand
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ampeg </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Atomic Amplifiers </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Avid</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Behringer </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Benedetto Guitars  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Blackstar Amplification </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bose </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BOSS</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Carvin </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Charvel</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Crate Amplifiers  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Creation Guitars </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Crown </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">DBZ Guitars </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dean </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Diezel </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Digitech </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dixon Drums </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">DrumFire </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Duesenberg Guitars </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dunlop </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">DWC-Aphex </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">E.W.S. Pedals </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ebow </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edirol </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Electro-Harmonix</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">EMG </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Epiphone  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ESP Guitars  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Euphonix </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Evans Drumheads  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Eventide</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">EVH  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Evolution</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Facelift  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fender  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fostex  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Framus </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Friedman Amplification  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fulltone  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Furman  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">FXpansion</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Galaxy </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gibraltar </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gibson  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Giffin Guitars</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gig-FX  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Godin  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gold Tone </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Greenhouse</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gretsch Drums  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hagstrom Guitars  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hamer </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hammond </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hartke </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hartman Pedals  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Heil Sound </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hercules (Kaysound)  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hercules stands </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Heritage Guitars  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HiWatt</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HK Audio </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hofner </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hosa  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HQ Percussion</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hughes And Kettner  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ibanez </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">IK Multimedia </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Indie</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Jackson  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JHS Pedals  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Joe Meek </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Johnson  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kamoa Ukuleles </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kawai  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kentucky Mandolins </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">KeyToSound </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Korg  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Krank Amplification </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">KRK Systems </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kurzweil </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lag Guitars </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Landmine Pedals </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Landry Amps </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Laboga  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Line 6</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Luna Guitars </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mackie  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mad Professor  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mahaffay Amplifiers </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mapex  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Marshall  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MAudio  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Meinl </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mesa/Boogie </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mesa Engineering  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Modulus Guitars  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Moog </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Naitive Instruments </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Neumann  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Orange Amplifiers  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pacific Drums and Percussion (PDP) </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Peavy </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Polytone Amps </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ProTone Pedals  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reverend Guitars </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Roland  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sabian  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Samson  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Seagull Guitars</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sennheiser  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Seymour Duncan  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Shaker Microphones  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SM Pro </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sony </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Source Audio  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Squier by Fender  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Steinberg </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">TAMA </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">TC Electronic </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tech 21 </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Trace Elliot </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tree Works</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">T-Rex </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tycoon Percussion  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Vox </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wampler Effects  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Warwick </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Washburn  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Wattson Classic Electronics </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">X2 Digital Wireless </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Yamaha </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Zildjian </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ZT Amplifiers  </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">AZVex </a></li>
  </ul> 
</div>
<br>
                <div class="form-group">
                    <label for="InputName">Other</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter brand name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>   
               


                 <div class="form-group">
                    <label for="InputName">Photos</label>

<span class="file-input file-input-new"><div class="file-preview ">
   
   <div class="file-preview-thumbnails"></div>
   <div class="clearfix"></div>   <div class="file-preview-status text-center text-success"></div>
</div>
<div class="input-group ">
   <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption" title="">
   <span class="glyphicon glyphicon-file kv-caption-icon" style="display: none;"></span><div class="file-caption-name"></div>
</div>
   <div class="input-group-btn">
       <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
       <button type="submit" class="btn btn-default kv-fileinput-upload"><i class="glyphicon glyphicon-upload"></i> Upload</button>
       <div class="btn btn-primary btn-file"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input id="input-1" type="file" class="file"></div>
   </div>
</div></span>
<br>

 <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-left">
            </div>
        </form>

        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>






