<div class="container-fluid view sidebarpanel-container addtechprofile">

  <div class="row addtechprofile-panel" id="addtechprofile-panel-type">
    <form id="addtechprofile-form-type" onsubmit="return false;">
      <div class="col-sm-3 sg-darkgray-bg">
        <div class="addtechprofilebuttonlist-container"></div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12 hint1 text-center">
            Please select the technician type.
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              <label for="addgtechprofile-form-description">About:</label>
            </div>
            <div class="col-sm-9">
              <textarea class="form-control" id="addtechprofile-form-about"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              <label>Currently working for:</label>
            </div>
            <div class="col-sm-9">
              <textarea class="form-control" id="addtechprofile-form-currently"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-3">
              <label>Genres interested in:</label>
            </div>
            <div class="col-sm-9">
              <textarea class="form-control" id="addtechprofile-form-genres"></textarea>
            </div>
          </div>
        </div>
        
      </div>
    </form>
  </div>

  <div class="row addtechprofile-panel hidden" id="addtechprofile-panel-experience">
    <form id="addtechprofile-experience-form" onsubmit="return false;">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="addtechprofile-level">Experience:</label>
            <div>
              <select id="addtechprofile-experience" class="form-control inline-select-small">
                <option value="5">D</option>
                <option value="4">C</option>
                <option value="3">B</option>
                <option value="2">A</option>
                <option value="1">A+</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <label for="addtechprofile-startyear">Years of experience:</label>
            <div>
              <select id="addtechprofile-startyear" class="form-control inline-select-small"></select> - <select id="addtechprofile-endyear" class="form-control inline-select-small"></select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label>Bands &amp; artists toured with:</label>
            <textarea id="addtechprofile-tours" class="form-control"></textarea>
          </div>
          <div class="col-sm-6 form-group">
            <label>Companies, venues and festivals worked for:</label>
            <textarea id="addtechprofile-companies" class="form-control"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label>Bands worked for:</label>
            <textarea id="addtechprofile-bands" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row addtechprofile-panel hidden" id="addtechprofile-panel-pricelocation">
  <div class="col-sm-12 full-height">
    <div class="row full-height">
    <div class="col-sm-3 full-height sg-darkgray-bg">
        <div class="vertical-align">
          <div class="row text-center"><img src="images/light_bulb.png"/></div>
            <div class="row text-center submerchant-sidebar-text">
              <div class="col-sm-12" style="margin-bottom: 15px;">For this type of technician we recommend the following prices.</div>
            <div class="row">
              <div class="col-xs-6 text-right">Daily:</div>
              <div class="col-xs-6 text-left"><span id="addtechprofile-price_a-suggestion"></span> {{currency}}</div>
            </div>
            <div class="row">
              <div class="col-xs-6 text-right">Weekly:</div>
              <div class="col-xs-6 text-left"><span id="addtechprofile-price_b-suggestion"></span> {{currency}}</div>
            </div>
            <div class="row">
              <div class="col-xs-6 text-right">Monthly:</div>
              <div class="col-xs-6 text-left"><span id="addtechprofile-price_c-suggestion"></span> {{currency}}</div>
            </div>
            </div>    
        </div>
    </div>
    <div class="col-sm-9 full-height">
      
         <form id="dashboard-addtechprofileprice-form" onsubmit="return false;">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 form-left">
            <div class="form-group">
              <label for="price_a">Daily hire price ({{currency}}):</label>
              <div class="form-control-price"><input type="text" name="price_a" id="price_a" class="form-control price"></div>
              <label for="price_b">Weekly hire price ({{currency}}):</label>
              <div class="form-control-price"><input type="text" name="price_b" id="price_b" class="form-control price"></div>
              <label for="price_c">Monthly hire price ({{currency}}):</label>
              <div class="form-control-price"><input type="text" name="price_c" id="price_c" class="form-control price"></div>
            </div>
          </div>

          <div class="col-sm-6 form-right">
            <div class="form-group">
              <label for="dashboard-addtechprofileprice-address">Street</label>
              <input type="text" name="address" id="dashboard-addtechprofileprice-address" class="form-control">
              <label for="dashboard-addtechprofileprice-postalcode">Postal code</label>
              <input type="text" name="postalcode" id="dashboard-addtechprofileprice-postalcode" class="form-control">
              <label for="dashboard-addtechprofileprice-city">City</label>
              <input type="text" name="city" id="dashboard-addtechprofileprice-city" class="form-control">
              <label for="dashboard-addtechprofileprice-country">Country</label>
              <select name="country" id="dashboard-addtechprofileprice-country" class="form-control">
                <option value="">Select country</option>
              </select>
            </div>
          </div>
        </div>

      </div>
    </form>

    </div>
    </div>
  </div>
  </div>

  <div class="row addtechprofile-panel hidden" id="addtechprofile-panel-availability">
    <div class="col-sm-12 submerchant-height">
      <div class="row submerchant-height">

       <div id="addtechprofile-darkgray-left" class="col-sm-3 sg-darkgray-bg submerchant-height">
        <div class="vertical-align">
            <div class="row text-center"><img src="images/submerchant.png"/></div>
              <div class="row text-center submerchant-sidebar-text">
                <div class="col-sm-12">In order to finish creating your technician profile and put it for rent, we need some extra information about you so that we can pay you.</div>
              </div>  
        </div>
      </div>

    <div id="addtechprofile-darkgray-left-calendar" class="col-sm-3 sg-darkgray-bg submerchant-height hidden">
        <div class="vertical-align">
            <div class="row text-center"><img src="images/submerchant.png"/></div>
              <div class="row text-center submerchant-sidebar-text">
                <div class="col-sm-12">In order to finish creating your technician profile and put it for rent, please select the period in which you will be available.</div>
              </div>  
        </div>
      </div>


      <div class="col-sm-9 submerchant-height" id="addtechprofile-availability-calendar"></div>
      
      </div>
    </div>
  </div>

  <div class="row addtechprofile-panel hidden" id="addtechprofile-panel-final">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12"><h3 class="text-center">Technician profile added!</h3></div>
      </div>
      <div class="row actions">
        <div class="col-sm-6"><button class="sg-btn-square sg-blue-bg sg-white profile-btn">View technician profile</button></div>
        <div class="col-sm-6 right"><button class="sg-btn-square sg-blue-bg sg-white addmore-btn">Add more technician profiles</button></div>
      </div>
    </div>
  </div>

  <div class="row footer bs-reset">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9 bs-reset">
      <div class="row sg-modal-header">
        <div class="col-xs-offset-0 col-xs-2 col-sm-offset-8 col-sm-2 text-center">
          <button class="sg-btn-square sg-inherit-bg sg-blue cancel-btn">Cancel <i class="fa fa-times-circle"></i></button>
        </div>
        <div class="col-xs-8"><h2 class="text-center">Add technician profile</h2></div>
        <div class="col-xs-2 col-sm-2 text-center">
          <button class="sg-btn-square sg-white-bg sg-blue next-btn">Next <i class="fa fa-arrow-circle-right"></i></button>
        </div>
      </div>
    </div>
  </div>

</div>
