<div class="container-fluid availabilitycalendar">
	<div class="row calendar-navigation">
		<div class="col-xs-2 text-center"><button class="sg-btn-invisible-gray prev-btn"><i class="fa fa-angle-left"></i></button></div>
		<div class="col-xs-8 text-center"><strong class="currentmonth"></strong></div>
		<div class="col-xs-2 text-center"><button class="sg-btn-invisible-gray next-btn"><i class="fa fa-angle-right"></i></button></div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<div class="availability-legend-box sg-darkergray-bg sg-white text-center">Available</div>
		</div>
		<div class="col-xs-3">
			<div class="availability-legend-box text-center">Not available</div>
		</div>
	</div>
	<div class="row">
		<div class="calendar"></div>
	</div>
	<div class="row always-never">
		<div class="col-sm-4">
			<button class="sg-btn-square sg-green-bg sg-white always-btn">Always available</button>
		</div>
		<div class="col-sm-4">
			<button class="sg-btn-square sg-red-bg sg-white never-btn">Never available</button>
		</div>
	</div>
</div>