<div class="container-fluid availabilitycalendar">
	<div class="row calendar-navigation">
		<div class="col-xs-2 text-center"><button class="sg-btn-invisible-gray prev-btn"><i class="fa fa-angle-left"></i></button></div>
		<div class="col-xs-8 text-center"><strong class="currentmonth"></strong></div>
		<div class="col-xs-2 text-center"><button class="sg-btn-invisible-gray next-btn"><i class="fa fa-angle-right"></i></button></div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="availability-legend-box"></div>
			<p>Available</p>
		</div>
		<div class="col-sm-3">
			<div class="availability-legend-box"></div>
			<p>Not available</p>
		</div>
	</div>
	<div class="row">
		<div class="calendar"></div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-default always-btn">Always available</button>
			<button class="btn btn-default never-btn">Never available</button>
		</div>
	</div>
</div>