<div class="container-fluid view booking">
  <div class="row sg-blue-bg sg-white sg-navbar">
    <div class="col-xs-2"><div class="sg-icon icon-sg-logo"></div></div>
      <div class="col-xs-8 text-center">Booking</div>
    <div class="col-xs-2 text-right"><button class="sg-btn-round sg-white-bg sg-blue" id="booking-cancel-btn"><i class="fa fa-times"></i></button></div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center sg-darkergray gear">
      <h3 class="sg-h3">{{brand}} {{subtype}} {{model}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 from-to">
      <div class="text-center"><h5 class="sg-h5">Rental period</h5></div>
      <div class="sg-lightgray-bg"><strong>From:</strong> {{start_time}}</div>
      <div class="sg-lightgray-bg"><strong>To:</strong> {{end_time}}</div>
    </div>
    <div class="col-sm-6">
      <div class="text-center"><h5 class="sg-h5">{{peer_role}}</h5></div>
      <div class="profile-pic-container sg-lightgray-bg text-center">
        <div class="profile-pic"></div>
      </div>
      <div class="name sg-darkergray text-center">{{name}} {{surname}}</div>
      <div class="tagline sg-gray text-center">{{tagline}}</div>
      <div class="email text-center"><a href="mailto:{{email}}">{{email}}</a></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="sg-darkergray-bg sg-white total text-center">TOTAL: {{price}} <span class="sg-super">{{currency}}</span></div>
    </div>
  </div>

  <div class="row cancelled-owner hidden">
    <div class="col-sm-12">
      <div class="sg-red text-center">You have cancelled this booking request.</div>
    </div>
  </div>

  <div class="row cancelled-renter hidden">
    <div class="col-sm-12">
      <div class="sg-red text-center">Your booking request was cancelled by the owner.</div>
    </div>
  </div>

  <div class="row error hidden">
    <div class="col-sm-12">
      <div class="sg-red text-center">Something went wrong with this booking request. Please try to book the instrument again or contact support at <a href="mailto:support@sharingear">support@sharingear.com</a>.</div>
    </div>
  </div>

  <div class="row sg-footerbar">
    <div class="accept-deny hidden">
      <div class="col-xs-6 bs-reset">
        <button class="sg-btn-square sg-red-bg sg-white" id="booking-deny-btn">deny</button>
      </div>
      <div class="col-xs-6 bs-reset">
        <button class="sg-btn-square sg-green-bg sg-white" id="booking-confirm-btn">confirm</button>
      </div>
    </div>

    <div class="sg-close hidden">
      <div class="col-sm-12 bs-reset">
        <button class="sg-btn-square sg-blue-bg sg-white" id="booking-close-btn">close</button>
      </div>
    </div>

    <div class="end hidden">
      <div class="col-sm-12 bs-reset">
        <button class="sg-btn-square sg-green-bg sg-white" id="booking-close-btn">end booking</button>
      </div>
    </div>

  </div>
</div>
