<div class="container-fluid closedbeta-view">
	<div class="row">
		<div class="col-md-12">
			<p>
				Welcome to the Sharingear closed beta.
				Sharingear is in it's first stages of life and we really appreciate your interest in helping us creating the best experience for musicians. If you experience any issues or have some feedback or feature requests shoot an email to our CTO <a href="" id="closedbeta-ctomail"></a>.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-default" id="closedbeta-continue-btn">Continue</button>
		</div>
	</div>
</div>