<div class="container-fluid closedbeta-view">
	<div id="closedbeta-intro">
		<div class="row">
			<div class="col-md-12">
				<h1 style="color:#00aeff;text-align: center">Welcome to Sharingear!</h1>
                <p>This is a closed Beta version and you are one of the first to test it! Since Sharingear is in it's first stages of life you might be experiencing some bugs or errors - don't despair because our team is working 24/7 to create the best service available. If you experience any issues or have some feedback or feature requests, shoot an email to the technical guru by using this email <a href="" class="ctomail"></a>.</p>
                <p>If you want to get access, please send us an email at <a href="mailto:support@sharingear.com">support@sharingear.com</a></p>
                <p>We hope you enjoy the Sharingear website, and looking forward to be hearing from you,<br>The Sharingear Team</p>
            </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="btn editgear-save-button btn-primary btn-default" id="closedbeta-login-btn">Login</button>
			</div>
		</div>
	</div>
	<div id="closedbeta-noaccess" class="hidden">
		<div class="row">
			<div class="col-md-12">
				<p>
                    Sorry, but we haven't arrived to you on the waiting list yet. You will receive an email as soon as we do. If you believe there is an error please contact our CTO <a href="" class="ctomail"></a>.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a href="http://www.sharingear.com">Return to sharingear.com</a>
			</div>
		</div>
	</div>
</div>