<div class="view aboutus">
	<div class="container-fluid sg-lightgray-bg">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h1 class="sg-h1 sg-blue">Sharingear copyright policy</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					Sharingear respects and expects its users to respect the intellectual property of others.
					As setforth in detail in our Terms of Use, each Sharingear user is responsible for ensuring that the materials they upload to <a href="http://www.sharingear.com">www.sharingear.com</a> (the “Website”) or via a Sharingear mobile application, if any, (the “Application”) do not infringe any third party copyright or other intellectual property right.
				</p>
				<p>
					Sharingear will promptly remove or disable materials from the Site and Application in accordance with the Electronic Commerce Directive (EU) Copyright Directive 87/54/EEC(1) and Directive 96/9/EC(2) if notified in accordance with the requirements below that the materials infringe a third party's copyright.
					Whether or not we disable access to or remove materials, Sharingear may attempt to forward the written notification, including the complainant’s contact information, to the Sharingear user who posted the content and/or take other reasonable steps to notify the Sharingear user that Sharingear has received notice of an alleged violation of intellectual property rights or other content violation.
					Sharingear may also, in its discretion, terminate the accounts of repeat copyright infringers or of those who post inaccurate or unlawful content.
					Our policies and procedures for removing or disabling access to content alleged to be infringing, inaccurate, or otherwise unlawful are at our sole discretion.
				</p>
				<p>
					Please note that any notice or counter-notice you submit must be truthful and submitted under <u>penalty of perjury</u>.
					A false notice or counter-notice may give rise to personal liability.
					You may therefore want to seek the advice of legal counsel before submitting a notice or a counter-notice.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">Claims Regarding Copyright Infringement</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					If you believe in good faith that your copyright has been infringed, please provide us with a written notice which contains:
				</p>
				<ol>
					<li>Your name, telephone number, address, and e-mail address (if any);</li>
					<li>A description of the copyrighted work that you claim has been infringed;</li>
					<li>A description of where on the Site the material that you claim is infringing may be found, sufficient for us to locate the material (e.g., the URL);</li>
					<li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;</li>
					<li>A statement by you, made under <u>penalty of perjury</u>, that the information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf; and</li>
					<li>Your electronic or physical signature.</li>
				</ol>
				<p>
					Please submit your notice to Sharingear as follows:<br>
					Email: <a href="mailto:support@sharingear.com">support@sharingear.com</a><br>
					By mail: Sharingear IVS, Danneskiold-Samsøes Allé 41, 1, 1434 Copenhagen K, Denmark
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">Counter-Notice to Restore Removed Content</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					If you believe that a notice of copyright infringement has been improperly submitted against you, you may submit a Counter-Notice, by providing Sharingear with a written notice which contains:
				</p>
				<ol>
					<li>Your name, telephone number, address, and e-mail address (if any);</li>
					<li>Identification of the material removed from the Site or to which access has been disabled;</li>
					<li>A statement under <u>penalty of perjury</u> that you have a good faith belief that removal or disablement of the material was a mistake or that the material was misidentified;</li>
					<li>A statement that you consent to the jurisdiction of the Federal District court (i) in the judicial district where your address is located if the address is in the United States, or (ii) if your address is located outside the United States, any judicial district in which Sharingear may be found and that you will accept service of process from the Complainant submitting the notice or his/her authorized agent; and</li>
					<li>Your physical or electronic signature;</li>
				</ol>
				<p>
					Please submit your counter-notice to Sharingear as follows:<br>
					Email: <a href="mailto:support@sharingear.com">support@sharingear.com</a><br>
					By mail: Sharingear IVS, Danneskiold-Samsøes Allé 41, 1, 1434 Copenhagen K, Denmark
				</p>
			</div>
		</div>
	</div>

	<footer></footer>
</div>
