<div class="addgear subview">
    <div class="panel panel-default">
        <div class="panel-heading addgearpanel">
            <div class="btn-group">
                <a href="addgear.html"><button class="btn-large btnaddgear">ADD GEAR &gt;&gt;</button></a>
            </div>
            <div class="btn-group">
                  <a href="priceandlocation.html"><button class="btn-large btnaddgeartwo">PRICE &amp; LOCATION &gt;&gt;</button></a>
            </div>
            <div class="btn-group">
                <a href="profile.html"> <button class="btn-large btnaddgeartwo">PREVIEW</button></a>
            </div>
        </div>
        <div class="panel-body">
            <form id="dashboard-addgear-form" onsubmit="return false;">
                <div class="form-group">
                    <div class="gearbuttonlist-container"></div>
                </div>
                <div class="form-group hidden" id="gear-subtype-container">
                    <select class="form-control" id="dashboard-addgear-form-subtype"></select>
                </div>
                <div class="form-group hidden" id="gear-brand-container">
                    <select class="form-control" id="dashboard-addgear-form-brand"></select>
                </div>
                <div class="form-group">
                    <label for="dashboard-addgear-form-model">Model:</label>
                    <input type="text" id="dashboard-addgear-form-model">
                </div>
                <div class="form-group">
                    <label for="dashboard-addgear-form-model">Description:</label>
                    <textarea id="dashboard-addgear-form-description"></textarea>
                </div>
                <div class="form-group">
                    <label for="dashboard-addgear-form-imageupload">Upload image:</label>
                    <input type="file" id="dashboard-addgear-form-imageupload" name="gearpic">
                    <div class="thumb-list-container"><ul></ul></div>
                </div>
                <input type="submit" id="submit" value="Next" class="btn btn-info pull-right">
            </form>
        </div>
    </div>
</div>
