<div class="dashboard-calendar subview">
	<div class="row">
		<div class="col-md-12"><h3>Calendar</h3></div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button class="btn btn-default" id="dashboard-calendar-today-btn">Today</button><button class="btn btn-default" id="dashboard-calendar-previous-btn">Previous</button><button class="btn btn-default" id="dashboard-calendar-next-btn">Next</button>
		</div>
		<div class="col-md-6">
			<button class="btn btn-default" id="dashboard-calendar-weeks-btn">Weeks</button><button class="btn btn-default" id="dashboard-calendar-months-btn">Months</button>
		</div>
	</div>
	<div class="calendar week-calendar" id="calendar-weeks-container">
		<div class="row calendar-header">
			<div class="col-md-1 col-md-offset-1"></div>
			<div class="col-md-1">
				<div>Monday</div>
				<div class="date"></div>
			</div>
			<div class="col-md-1">
				<div>Tuesday</div>
				<div class="date"></div>
			</div>
			<div class="col-md-1">
				<div>Wednesday</div>
				<div class="date"></div>
			</div>
			<div class="col-md-1">
				<div>Thursday</div>
				<div class="date"></div>
			</div>
			<div class="col-md-1">
				<div>Friday</div>
				<div class="date"></div>
			</div>
			<div class="col-md-1">
				<div>Saturday</div>
				<div class="date"></div>
			</div>
			<div class="col-md-1">
				<div>Sunday</div>
				<div class="date"></div>
			</div>
		</div>
		<div class="row hour-row" id="hour-1">
			<div class="col-md-1 col-md-offset-1">12am</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-2">
			<div class="col-md-1 col-md-offset-1">1am</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-3">
			<div class="col-md-1 col-md-offset-1">2am</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row"  id="hour-4">
			<div class="col-md-1 col-md-offset-1">3am</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-5">
			<div class="col-md-1 col-md-offset-1">4am</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-6">
			<div class="col-md-1 col-md-offset-1">5am</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-7">
			<div class="col-md-1 col-md-offset-1">6am</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-8">
			<div class="col-md-1 col-md-offset-1">7am</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-9">
			<div class="col-md-1 col-md-offset-1">8am</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-10">
			<div class="col-md-1 col-md-offset-1">9am</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-11">
			<div class="col-md-1 col-md-offset-1">10am</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-12">
			<div class="col-md-1 col-md-offset-1">11am</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-13">
			<div class="col-md-1 col-md-offset-1">12pm</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-14">
			<div class="col-md-1 col-md-offset-1">1pm</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-15">
			<div class="col-md-1 col-md-offset-1">2pm</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-16">
			<div class="col-md-1 col-md-offset-1">3pm</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-17">
			<div class="col-md-1 col-md-offset-1">4pm</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-18">
			<div class="col-md-1 col-md-offset-1">5pm</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-19">
			<div class="col-md-1 col-md-offset-1">6pm</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-20">
			<div class="col-md-1 col-md-offset-1">7pm</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-21">
			<div class="col-md-1 col-md-offset-1">8pm</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-22">
			<div class="col-md-1 col-md-offset-1">9pm</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-23">
			<div class="col-md-1 col-md-offset-1">10pm</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row hour-row" id="hour-24">
			<div class="col-md-1 col-md-offset-1">11pm</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<div class="calendar month-calendar hidden" id="calendar-months-container">
		<div class="row calendar-header">
			<div class="col-md-1 col-md-offset-1"></div>
			<div class="col-md-1">Monday</div>
			<div class="col-md-1">Tuesday</div>
			<div class="col-md-1">Wednesday</div>
			<div class="col-md-1">Thursday</div>
			<div class="col-md-1">Friday</div>
			<div class="col-md-1">Saturday</div>
			<div class="col-md-1">Sunday</div>
		</div>
		<div class="row day-row">
			<div class="col-md-1 col-md-offset-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row day-row">
			<div class="col-md-1 col-md-offset-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row day-row">
			<div class="col-md-1 col-md-offset-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row day-row">
			<div class="col-md-1 col-md-offset-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row day-row">
			<div class="col-md-1 col-md-offset-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row day-row">
			<div class="col-md-1 col-md-offset-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>