<div class="dashboard-settings subview">
	<div class="row">
		<div class="col-sm-12">
			<form id="dashboard-settings-form" onsubmit="return false;">
				<div class="row">
					<div class="col-sm-12">
						<label for="">Set your timezone:</label>
						<select id="dashboard-settings-timezone">
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 col-sm-offset-9">
						<button type="submit" id="dashboard-settings-savebtn" class="sg-btn sg-blue-bg sg-white sg-btn-save">Save</button>
					</div>
				</div>
				<div class="row hidden" id="dashboard-settings-savesuccess">
					<div class="col-sm-12 text-center">
						Settings successfully saved.
					</div>
				</div>
			</form>
		</div>
	</div>
</div>