<div class="addgear subview">
    <div class="panel panel-default">
        <div class="addgearpanel">
            
            <ol class="breadcrumb" id="crumbs">
            <li class="active">Add Gear</li>
            <li>Photos</li>
            <li>Price &amp; Location</li>
            </ol>
            <!-- OLD BREADCRUMBS -->
            <!-- <div class="btn-group">
                <div class="btn-large boxaddgear">ADD GEAR &gt;&gt;</div>
            </div>
            <div class="btn-group">
                  <div class="btn-large boxaddgeartwo">PHOTOS &gt;&gt;</div>
            </div>
            <div class="btn-group">
                  <div class="btn-large boxaddgeartwo">PRICE &amp; LOCATION &gt;&gt;</div>
            </div> -->
            <!-- OLD BREADCRUMBS END-->
            
            <!--<div class="btn-group">
                <a href="profile.html"> <button class="btn-large btnaddgeartwo">PREVIEW</button></a>
            </div>-->
        </div>
        <div class="panel-body">
            <form id="dashboard-addgear-form" onsubmit="return false;">
                <div class="form-group">
                    <div class="gearbuttonlist-container"></div>
                </div>
                <div class="form-group hidden" id="gear-subtype-container">
                    <select class="form-control" id="dashboard-addgear-form-subtype"></select>
                </div>
                <div class="form-group hidden" id="gear-brand-container">
                    <select class="form-control" id="dashboard-addgear-form-brand"></select>
                </div>
                <div class="form-group">
                    <label for="dashboard-addgear-form-model">Model:</label>
                    <input type="text" id="dashboard-addgear-form-model" class="form-control">
                </div>
                <div class="form-group">
                    <label for="dashboard-addgear-form-model">Description:</label>
                    <textarea id="dashboard-addgear-form-description" class="form-control"></textarea>
                </div>
                <input type="submit" id="submit" value="Next" class="btn btn-info pull-right">
            </form>
        </div>
    </div>
</div>
