<div class="addgear subview col-md-12">
  <div class="panel panel-default col-md-12">
    <div class="addgearpanel col-md-12">
      <ul class="breadcrumb" id="addgear-crumbs" role="tablist">
        <li class="active" id="addgear-instrument-li"><a href="#addgear-instrument" role="tab" data-toggle="tab" disabled>Add Gear</a></li>
        <li id="addgear-photos-li">Photos</li>
        <li id="addgear-pricelocation-li">Price &amp; Location</li>
        <li id="addgear-availability-li">Availability</li>
      </ul>
    </div>

    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="addgear-instrument">
          <form id="dashboard-addgear-form" onsubmit="return false;">
            <div class="form-group col-md-9">
              <div class="gearbuttonlist-container"></div>
            </div>
            <div class="form-group hidden col-md-9" id="gear-subtype-container">
              <select class="form-control" id="dashboard-addgear-form-subtype">
              </select>
            </div>
            <div class="form-group hidden col-md-9" id="gear-brand-container">
              <select class="form-control" id="dashboard-addgear-form-brand">
              </select>
            </div>
            <div class="form-group col-md-9">
              <label for="dashboard-addgear-form-model">Model:</label>
              <input type="text" id="dashboard-addgear-form-model" class="form-control">
            </div>
            <div class="form-group col-md-9">
              <label for="dashboard-addgear-form-model">Description:</label>
              <textarea id="dashboard-addgear-form-description" class="form-control"></textarea>
            </div>
			<div class="form-group col-md-9">
			  <label for="">Accessories:</label>
			  <div id="dashboard-addgear-accessories-container">
			  </div>
			</div>
          </form>
        </div>
      

        <div class="tab-pane fade in" id="addgear-photos">
          <form id="dashboard-addgearphotos-form" onsubmit="return false;">
            <div class="form-group">
              <label for="dashboard-addgearphotos-form-imageupload">Upload image:</label>
              <input type="file" id="dashboard-addgearphotos-form-imageupload" name="gearpic">
              <div class="thumb-list-container">
                <ul>
                </ul>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane fade in" id="addgear-pricelocation">
          <form id="dashboard-addgearprice-form" onsubmit="return false;">
            <div class="col-md-4 form-left">
              <div class="form-group">
                <label for="price_a">Hourly rental price:</label>
                <div class="form-control-price"><input type="text" name="price_a" id="price_a" class="form-control price"></div>
                <label for="price_b">Daily rental price:</label>
                <div class="form-control-price"><input type="text" name="price_b" id="price_b" class="form-control price"></div>
                <label for="price_c">Weekly rental price:</label>
                <div class="form-control-price"><input type="text" name="price_c" id="price_c" class="form-control price"></div>
              </div>
              <div id="addDeliveryPriceContainer">
                <div class="checkbox">
                  <label><input type="checkbox" id="gear-delivery-available-checkbox"> Gear available for delivery</label>
                </div>
                <fieldset disabled>
                  <div class="form-group">
                    <label>Delivery price:</label>
                    <input type="text" placeholder="Price" class="form-control price" name="delivery_price"/>
                    <label>Max distance:</label>
                    <input type="text" placeholder="Distance in km" class="form-control" name="delivery_distance"/>
                  </div>
                </fieldset>
              </div>
            </div>
			  <div class="col-md-4 form-left bulp-background">

				  <h3>Setting the price:</h3>
				  <p>For the following type of instrument we recommend the following prices.</p>

				  <!--TODO the recommended prices are hardcoded-->
				  <div class="row">
					  <div class="col-xs-4 yellow-text-left">Hourly:</div>
					  <div id="addgear-price_a-suggestion" class="col-xs-8 right yellow-text"></div>
				  </div>
				  <div class="row">
					  <div class="col-xs-4 yellow-text-left">Daily:</div>
					  <div id="addgear-price_b-suggestion" class="col-xs-8 right yellow-text"></div>
				  </div>
				  <div class="row">
					  <div class="col-xs-4 yellow-text-left">Weekly:</div>
					  <div id="addgear-price_c-suggestion" class="col-xs-8 right yellow-text"></div>
				  </div>

			  </div>
            <div class="col-md-4 form-right">
              <div class="form-group">
                <label for="dashboard-addgearprice-address">Street</label>
                <input type="text" name="address" id="dashboard-addgearprice-address" class="form-control">
                <label for="dashboard-addgearprice-postalcode">Postal code</label>
                <input type="text" name="postalcode" id="dashboard-addgearprice-postalcode" class="form-control">
                <label for="dashboard-addgearprice-city">City</label>
                <input type="text" name="city" id="dashboard-addgearprice-city" class="form-control">
                <label for="dashboard-addgearprice-region">Region</label>
                <input type="text" name="region" id="dashboard-addgearprice-region" class="form-control">
                <label for="dashboard-addgearprice-country">Country</label>
                <select name="country" id="dashboard-addgearprice-country" class="form-control">
                  <option value="">Select country</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane fade in" id="addgear-availability">
          <div class="row">
            <div class="col-md-3"><h2>Availability</h2></div>
            <div class="col-md-3 availability-legend"><div class="availability-legend-box" style="background-color: #FA0;"></div><p>Available</p></div>
            <div class="col-md-3 availability-legend"><div class="availability-legend-box" style="background-color: #DDD;"></div><p>Not available</p></div>
          </div>
          <div id="addgear-availability-submerchantform" class="hidden">
            <div class="row">
              <div class="col-md-12">In order to put your gear up for rent we need some extra information about you so that we can pay you.</div>
            </div>
            <form id="addgear-submerchantform" onsubmit="return false;">
              <div class="form-group">
                <label for="submerchantregistration-birthdate">Date of birth (DD/MM/YYYY):*</label>
                <input type="text" class="form-control" name="address" id="submerchantregistration-birthdate">
              </div>
              <div class="form-group">
                <label for="submerchantregistration-address">Address:*</label>
                <input type="text" name="address" class="form-control" id="submerchantregistration-address">
              </div>
              <div class="form-group">
               <label for="submerchantregistration-postalcode">Postal code:*</label>
                <input type="text" class="form-control" name="postal_code" id="submerchantregistration-postalcode">
              </div>
              <div class="form-group">
                <label for="submerchantregistration-city">City:*</label>
                <input type="text" name="city" class="form-control" id="submerchantregistration-city">
              </div>
              <div class="form-group">
                <label for="submerchantregistration-region">Region:</label>
                <input type="text" name="region" class="form-control" id="submerchantregistration-region">
              </div>
              <div class="form-group">
				<label for="submerchantregistration-region">Country:</label>
                <select name="country" id="submerchantregistration-country">
                  <option value="">Select your country</option>
                </select>
              </div>
              <div class="form-group">
				<label for="submerchantregistration-region">Nationality:</label>
                <select name="nationality" id="submerchantregistration-nationality">
                  <option value="">Select your nationality</option>
                </select>
              </div>
              <div class="form-group">
                <label for="submerchantregistration-phone">Phone:*</label>
                <input type="text" name="phone" class="form-control" id="submerchantregistration-phone">
              </div>
              <div class="form-group">
                <label for="submerchantregistration-iban">IBAN:*</label>
                <input type="text" name="iban" class="form-control" id="submerchantregistration-iban">
              </div>
              <div class="form-group">
                <label for="submerchantregistration-swift">BIC/SWIFT:*</label>
                <input type="text" name="swift" class="form-control" id="submerchantregistration-swift">
              </div>
              <button type="button" class="btn btn-default btn-skip">Skip</button>
              <button type="submit" class="btn btn-info">Submit</button>
            </form>
          </div>
          <div id="addgear-availability-terms col-md-9" class="hidden">
            <div class="row">
              <div class="col-md-12">
                <p>
                  By pressing accept you confirm that you have read and accepted the Sharingear Terms and Conditions.
                  If you press cancel your gear will be saved, but it will not be possible to rent it.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-default btn-skip">Cancel</button>
                <button class="btn btn-info yellow-button" id="submerchantregistration-accept">Accept</button>
              </div>
            </div>
          </div>
          <div id="addgear-availability-calendar" class="hidden">
            <div class="row">
              <div class="col-md-12" id="gearavailability-monthtitle"></div>
            </div>
            <div class="row">
              <div class="col-md-12 center">
                <button class="btn btn-default" id="gearavailability-today-btn">Today</button>
                <button class="btn btn-default" id="gearavailability-previous-btn">Previous</button>
                <button class="btn btn-default" id="gearavailability-next-btn">Next</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 calendar month calendar" id="gearavailability-months-container"></div>
            </div>

			<div class="row">
				<div class="col-md-12 center">
					<button class="btn btn-default margin-for-buttons" id="gearavailability-clearmonth-btn">Clear month</button><button class="btn btn-default margin-for-buttons" id="gearavailability-always-btn">Always available</button><button class="btn btn-default margin-for-buttons" id="gearavailability-never-btn">Never available</button>
				</div>
			</div>
          </div>
        </div>  
      </div>

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-default yellow-button" id="editgear-next-btn">Next</button>
        </div>
      </div>

    </div>
  </div>
</div>
