<div class="dashboard container-fluid">
	<div class="row">
		<div id="dashboard-menu" class="col-md-3">
			<ul class="menu list-group">
				<li class="list-group-item dashboardtitle"><img src="images/sharingearicon23x23.png" alt="Dashboard icon"> Dashboard</li>
				<li class="list-group-item"><a href="#dashboard/profile"><img src="images/icon_profile.png" alt="Profile icon">Profile</a></li>
				<li class="list-group-item"><a href="#dashboard/addgear"><img src="images/icon_add.png" alt="Add gear icon">Add Gear</a></li>
				<li class="list-group-item"><a href="#dashboard/yourgear"><img src="images/icon_gear.png" alt="Your gear icon">Your gear</a></li>
				<li class="list-group-item"><a href="#dashboard/yourreservations"><img src="images/icon_yourgear.png" alt="Your reservations icon">Your reservations</a></li>
				<li class="list-group-item"><a href="#dashboard/calendar"><img src="images/icon_calendar.png" alt="Calendar icon">Calendar</a></li>
				<li class="list-group-item"><a href="#dashboard/settings"><img src="images/icon_settings.png" alt="Settings icon">Settings</a></li>
			</ul>
		</div>
		<div id="dashboard-subview-container" class="col-md-9"></div>
	</div>
</div>


