<div class="dashboard container-fluid">
	<div class="row">
		<div id="dashboard-menu" class="col-sm-3 dashboard-menu">
			<ul class="menu list-group" style="text-transform: capitalize;">
				<li class="list-group-item list-group-item-selected"><a href="#dashboard/profile">Your Profile</a></li>
				<li class="list-group-item"><a href="#dashboard/yourgear">Your gear</a></li>
				<li class="list-group-item">Your tech profile</li>
				<li class="list-group-item">Your vans &amp; buses</li>
				<li class="list-group-item"><a href="#dashboard/yourrentals">Gear rentals</a></li>
				<li class="list-group-item">Tech hires</li>
				<li class="list-group-item">Van rentals</li>
				<li class="list-group-item"><a href="#dashboard/yourreservations">Gear reservations</a></li>
				<li class="list-group-item">Tech reservations</li>
				<li class="list-group-item">Van reservations</li>
				<li class="list-group-item">Settings</li>
			</ul>
		</div>
		<div id="dashboard-subview-container" class="col-xs-12 col-sm-9"></div>
	</div>
</div>


