<div class="profile subview">
	<div class="row">
		<div class="col-md-12" id="profilehead"><h3>Your profile</h3></div>
	</div>
	<div class="row">
		<div class="col-md-12 yourprofilefieldsize">
			<form id="dashboard-profile-form" onsubmit="return false;">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="name">Name:*</label>
							<input type="text" name="name" id="name" class="form-control">
						</div>

                        <div class="form-group">
							<label for="surname">Surname:*</label>
							<input type="text" name="surname" id="surname" class="form-control">
						</div>

                        <div class="form-group">
                            <label for="email">Email:*</label>
                            <input type="text" name="email" id="email" class="form-control">
                        </div>

						<div class="form-group">
							<label for="hometown">Hometown:</label>
							<input type="text" name="hometown" id="hometown" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="profile-pic">Profile picture:</label>
                                <div id="prof-pic-div" class="profile_im">
                                    
                                </div>
							<input type="file" name="profile-pic" id="profile-pic">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group dash-profile-bio">
						<label for="bio">Bio:</label>
						<textarea name="bio" id="bio" class="form-control" style="height: 120px !important;">{{bio}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="pull-right">
                        <div id="profile_image_loading" style="display: none;" class="btn btn-info pull-right"><i class="fa fa-circle-o-notch fa-fw fa-spin"></i></div>
						<button type="submit" id="saveButton" class="btn btn-primary">Save</button>
					</div>
					<div class="profile pull-right" id="saveSuccessDiv"></div>
				</div>
			</form>
		</div>
	</div>
</div>