<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"><h2>Photos:</h2></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form id="editgear-photos-form" onsubmit="return false;">
				<div class="form-group">
                    <label for="dashboard-addgear-form-imageupload">Upload image:</label>
                    <input type="file" id="editgear-photos-form-imageupload" name="gearpic">
                    <div class="thumb-list-container"><ul></ul></div>
                </div>
				<div class="pull-right"><button class="btn btn-default btn-back">Back</button><button class="btn btn-primary btn-next">Next</button></div>
			</form>
		</div>
	</div>
</div>