<div class="container-fluid editgear-container-bottom-padding">
	<div class="row">
		<div class="col-md-12"><h2>Price your gear</h2></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form id="editgearpricing-form" onsubmit="return false;">
                <div class="col-md-6 form-left">
				<div class="form-group">
					<label for="">Daily Rental Price</label>
					<div class="price"><input id="price_a" class="same-line form-control" name="price_a" size="7" type="text" value="{{price_a}}"></div>
					<p class="small">The average daily price is $18</p>
				</div>
				<div class="form-group">
					<label for="ride_pricing_per_hour_string">Hourly Rental Price</label>
					<div class="price"><input id="price_b" class="same-line form-control" name="price_b" size="7" type="text" value="{{price_b}}"></div>
					<p class="small">Any rental under 4 hours is charged at this hourly rate</p>
				</div>
				<div class="form-group">
					<label for="ride_pricing_per_week_string">Weekly Rental Price</label>
					<div class="price"><input id="price_c" class="same-line form-control" name="price_c" size="7" type="text" value="{{price_c}}"></div>
					<p class="small">An 8 day rental will be charged as 1 week and 1 day</p>
				</div>
                </div>
                <div class="col-md-6 form-right">
				<div class="form-group">
                    <label for="dashboard-addgearprice-address">Address</label>
                    <input type="text" name="address" id="editgearpricing-address" class="form-control">
                    <label for="dashboard-addgearprice-postalcode">Postal code</label>
                    <input type="text" name="postalcode" id="editgearpricing-postalcode" class="form-control">
                    <label for="dashboard-addgearprice-city">City</label>
                    <input type="text" name="city" id="editgearpricing-city" class="form-control">
                    <label for="dashboard-addgearprice-region">Region</label>
                    <input type="text" name="region" id="editgearpricing-region" class="form-control">
                    <label for="dashboard-addgearprice-country">Country</label>
                    <select name="country" id="editgearpricing-country" class="form-control">
                        <option value="Denmark">Denmark</option>
                    </select>
                </div>
                </div>
				<div class="pull-right"><button class="btn btn-default btn-cancel button-margin">Back</button><button class="btn btn-primary btn-save price-button-margin">Save</button></div>
			</form>
		</div>
	</div>
</div>