<div class="container-fluid view edittechprofile">
	<div class="row">
		<ul class="nav nav-tabs sg-toptab-container" id="edit-tabs" role="tablist">
			<li class="sg-toptab active"><a href="#instrument" role="tab" data-toggle="tab">Technician</a></li>
			<li class="sg-toptab"><a href="#experience" role="tab" data-toggle="tab">Experience</a></li>
			<li class="sg-toptab"><a href="#pricing" role="tab" data-toggle="tab">Pricing</a></li>
			<li class="sg-toptab"><a href="#location" role="tab" data-toggle="tab">Location</a></li>
			<li class="sg-toptab"><a href="#availability" role="tab" data-toggle="tab">Availability</a></li>
		</ul>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
		
			<div id="edit-tabs-content" class="tab-content">
				<div class="tab-pane fade active in" id="instrument">
					<div class="container-fluid edittechprofile-container-bottom-padding">
						<div class="row">
							<div class="col-md-12"><h2>{{roadie_type}}:</h2></div>
						</div>
						<div class="row">
							<form id="edittechprofile-form" onsubmit="return false;">
								<div class="col-md-6 form-left">
									<div class="form-group">
										<label for="edittechprofile-about">About:</label>
										<textarea name="edittechprofile-about" id="edittechprofile-about" class="form-control">{{about}}</textarea>
									</div>
								</div>
								<div class="col-md-6 form-right">
									<div class="form-group">
										<label for="edittechprofile-currently">Currently working for:</label>
										<textarea name="edittechprofile-currently" id="edittechprofile-currently" class="form-control">{{currently}}</textarea>
									</div>
									<div class="form-group">
										<label for="edittechprofile-genres">Genres interested in:</label>
										<textarea name="edittechprofile-genres" id="edittechprofile-genres" class="form-control">{{genres}}</textarea>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="experience">
					<div class="container-fluid edittechprofile-container-bottom-padding">
						<form id="edittechprofile-experience-form" onsubmit="return false;">	
							<div class="row">
								<div class="col-md-6 form-group">
									<label for="edittechprofile-experience">Experience:</label>
									<select id="edittechprofile-experience" class="form-control inline-select-small">
                		<option value="5">D</option>
                		<option value="4">C</option>
                		<option value="3">B</option>
                		<option value="2">A</option>
                		<option value="1">A+</option>
              		</select>
								</div>
								<div class="col-md-6 form-group">
									<label for="edittechprofile-startyear">Years of experience:</label>
            			<div>
              			<select id="edittechprofile-startyear" class="form-control inline-select-small"></select> - <select id="edittechprofile-endyear" class="form-control inline-select-small"></select>
            			</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 form-group">
									<label>Bands &amp; artists toured with:</label>
            			<textarea id="edittechprofile-tours" class="form-control">{{tours}}</textarea>
            			<label>Bands worked for:</label>
            			<textarea id="edittechprofile-bands" class="form-control">{{bands}}</textarea>
								</div>
								<div class="col-md-6 form-group">
									<label>Companies, venues and festivals worked for:</label>
            			<textarea id="edittechprofile-companies" class="form-control">{{companies}}</textarea>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="tab-pane fade" id="pricing">
					<div class="container-fluid edittechprofile-container-bottom-padding">
						<div class="row">
							<div class="col-md-12"><h2>Set your price</h2></div>
						</div>
						<div class="row">
							<form class="form-horizontal" id="edittechprofilepricing-form" role="form" onsubmit="return false;">
								<div class="col-sm-6 form-left">

									<div class="form-group price-form">
										<label>Daily hire price*</label>
										<input id="price_a" class="col-md-10 form-control price-input-font price" name="price_a" size="7" type="text" value="">
										<label for="price_a" class="col-md-2 price-input-font">{{currency}}</label>
									</div>

									<div class="form-group price-form">
										<label>Weekly hire price*</label>
										<input id="price_b" class="col-md-10 form-control price-input-font price" name="price_b" size="7" type="text" value="">
										<label for="price_b" class="col-md-2 price-input-font">{{currency}}</label>
									</div>

									<div class="form-group price-form">
										<label>Monthly hire price*</label>
										<input id="price_c" class="col-md-10 form-control price-input-font price" name="price_c" size="7" type="text" value="">
										<label for="price_c" class="col-md-2 price-input-font">{{currency}}</label>
									</div>

								</div>
								<div class="col-sm-6 form-left bulp-background">

									<h3>Setting the price:</h3>
									<p>For this type of technician we recommend the following prices.</p>

									<div class="row">
										<div class="col-xs-4 yellow-text-left">Daily:</div>
										<div class="col-xs-8 right yellow-text"><span id="edittechprofile-price_a-suggestion"></span> {{currency}}</div>
									</div>
									<div class="row">
										<div class="col-xs-4 yellow-text-left">Weekly:</div>
										<div class="col-xs-8 right yellow-text"><span id="edittechprofile-price_b-suggestion"></span> {{currency}}</div>
									</div>
									<div class="row">
										<div class="col-xs-4 yellow-text-left">Monthly:</div>
										<div class="col-xs-8 right yellow-text"><span id="edittechprofile-price_c-suggestion"></span> {{currency}}</div>
									</div>

								</div>
								
							</form>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="location">
					<div class="container-fluid edittechprofile-container-bottom-padding">
						<div class="row">
							<div class="col-md-12"><h2>Location</h2></div>
						</div>
						<div class="row">
							<form id="edittechprofilepricingloc-form" onsubmit="return false;">
								<div class="col-md-6 form-left">
									<div class="form-group">
										<label for="dashboard-edittechprofileprice-address">Street*</label>
										<input type="text" name="address" id="edittechprofilepricing-address" class="form-control">
										<label for="dashboard-edittechprofileprice-postalcode">Postal code*</label>
										<input type="text" name="postalcode" id="edittechprofilepricing-postalcode" class="form-control">
										<label for="dashboard-edittechprofileprice-city">City*</label>
										<input type="text" name="city" id="edittechprofilepricing-city" class="form-control">
										<label for="edittechprofilepricing-country">Country*</label>
										<select name="country" id="edittechprofilepricing-country" class="form-control">
											<option value="">Select country</option>
										</select>
									</div>
								</div>
								<div class="col-md-6 form-left">
									<p>We suggest that you enter your exact location.</p>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="availability">
					<div class="container-fluid">
						<div id="edittechprofile-availability-submerchantform" class="hidden">
							<div class="row">
								<div class="col-md-12">In order to put your vehicle up for rent we need some extra information about you so that we can pay you.</div>
							</div>
							<form id="edittechprofile-submerchantform" onsubmit="return false;">
								<div class="form-group">
									<label for="submerchantregistration-birthdate">Date of birth (DD/MM/YYYY):*</label>
									<div class="birthday-select" id="submerchantregistration-birthdate">
										<select id="submerchantregistration-birthdate-date" name="birthdate-day"></select>/<select id="submerchantregistration-birthdate-month" name="birthdate-month"></select>/<select id="submerchantregistration-birthdate-year" name="birthdate-year"></select>
									</div>
								</div>
								<div class="form-group">
									<label for="submerchantregistration-address">Address:*</label>
									<input type="text" name="address" id="submerchantregistration-address">
								</div>
								<div class="form-group">
									<label for="submerchantregistration-postalcode">Postal code:*</label>
									<input type="text" name="postal_code" id="submerchantregistration-postalcode">
								</div>
								<div class="form-group">
									<label for="submerchantregistration-city">City:*</label>
									<input type="text" name="city" id="submerchantregistration-city">
								</div>
								<div class="form-group">
									<label for="submerchantregistration-region">Region:</label>
									<input type="text" name="region" id="submerchantregistration-region">
								</div>
								<div class="form-group">
									<select name="country" id="submerchantregistration-country">
										<option value="">Select your country</option>
									</select>
								</div>
								<div class="form-group">
									<select name="nationality" id="submerchantregistration-nationality">
										<option value="">Select your nationality</option>
									</select>
								</div>
								<div class="form-group">
                	<label for="submerchantregistration-phone">Phone:*</label>
                	<input type="text" name="phone" id="submerchantregistration-phone">
              	</div>
              	<div class="form-group">
                	<label for="submerchantregistration-iban">IBAN:*</label>
                	<input type="text" name="iban" id="submerchantregistration-iban">
              	</div>
              	<div class="form-group">
                	<label for="submerchantregistration-swift">BIC/SWIFT:*</label>
                	<input type="text" name="swift" id="submerchantregistration-swift">
              	</div>
              	<button type="submit" class="btn btn-info">Submit</button>
            	</form>
						</div>
						<div id="edittechprofile-availability-terms" class="hidden">
							<div class="row">
              	<div class="col-md-12">
                	<p>
                  	By pressing accept you confirm that you have read and accepted the Sharingear Terms and Conditions.
                  	If you press cancel your vehicle will be saved, but it will not be possible to rent it.
                	</p>
              	</div>
            	</div>
            	<div class="row">
              	<div class="col-md-12">
                	<button class="btn btn-info" id="submerchantregistration-accept">Accept</button>
              	</div>
            	</div>
						</div>
						<div id="edittechprofile-availability-calendar" class="hidden"></div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row sg-modal-header">
  	<div class="col-xs-offset-0 col-xs-2 col-sm-offset-8">
  		<button class="sg-btn-square" id="edittechprofile-cancel-btn">Cancel <i class="fa fa-times-circle"></i></button>
  	</div>
  	<div class="col-xs-8"><h2 class="text-center sg-blue">Edit Vehicle</h2></div>
  	<div class="col-xs-2 text-center">
  		<button class="sg-btn-square" id="edittechprofile-save-btn">Save <i class="fa fa-floppy-o"></i></button>
  	</div>
  </div>
</div>
