<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"><h2>{{type}}: {{subtype}}</h2></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form id="editgear-form" onsubmit="return false;">
				<div class="form-group">
					<label for="">Brand:</label>
					<select name="brand" id="editgear-brand">
					</select>
				</div>
				<div class="form-group">
					<label for="model">Model</label>
					<input type="text" name="editgear-model" id="editgear-model" value="{{model}}">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea name="editgear-description" id="editgear-description">{{description}}</textarea>
				</div>
				<div class="form-group">
                    <label for="dashboard-addgear-form-imageupload">Upload image:</label>
                    <input type="file" id="editgear-form-imageupload" name="gearpic">
                    <div class="thumb-list-container"><ul></ul></div>
                </div>
				<div class="pull-right"><button class="btn btn-default btn-cancel">Cancel</button><button class="btn btn-primary btn-next">Next</button></div>
			</form>
		</div>
	</div>
</div>