
<footer>
        <div class="container-fluid">
          <ul class="nav nav-pills nav-footer">
            <div class="row">
              <div class="col-md-2">
                <a href="howitworks.html">How it works</a>
              </div>    
              <div class="col-md-2">        
                <a href="press.html">Press</a>
              </div>
              <div class="col-md-2">
                <a href="termsofprivcacy.html">Terms & Privacy</a>
               </div>
               <div class="col-md-2">
                <a href="#aboutus">About us</a>
                </div>
                <div class="col-md-2">
                <a href="contact.html">Contact us</a>
              </div>
              <div class="col-md-2">
                <div class="followusfooter">Follow us on 
              </div>  
              <!-- SOCIAL ICONS --> 
              <div class="col-sm-3 footericons">
                  <a href="https://www.facebook.com/sharingear" target="new"><img src="images/icon-fbicon.png"></a></div>
              <div class="col-sm-3  footericons">
                  <a href="https://twitter.com/sharingear" target="new"><img src="images/icon-twittericon.png"></a></div>
              <div class="col-sm-3 footericons">
                  <a href="http://instagram.com/sharingear" target="new"><img src="images/icon-igicon.png"></a></div>
              <div class="col-sm-3 footericons">
                  <a href="https://twitter.com/sharingear" target="new"><img src="images/icon-googleplusicon.png"></a></div>
                               
        </div>
                </div>
             
               </div>
              </div>
               
          </div>
              
            </div>

              </div>



          </ul>
          <div class="footer-logo"><img src="images/logotop.png"></a></div>
          <h6 class="copyright text-center">©2014 Sharingear</h6>
        </div>
      </footer>




