<div class="container-fluid sg-black-bg footer">
	<div class="row sg-blue links">
		<div class="col-sm-offset-1 col-sm-2 text-center">
			<a href="#!about-us">about us</a>
		</div>
		<div class="col-sm-2 text-center">
			<a href="#!insurance">insurance</a>
		</div>
		<div class="col-sm-2 text-center">
			<a href="#!terms-of-service">terms of service</a>
		</div>
		<div class="col-sm-2 text-center">
			<a href="#!copyright-policy">copyright policy</a>
		</div>
		<div class="col-sm-2 text-center">
			<a href="#!privacy-policy">privacy policy</a>
		</div>
	</div>
	<div class="row sg-blue follow">
		<div class="col-sm-12 text-center">Follow us on</div>
	</div>
	<div class="row social">
		<div class="col-sm-12 text-center">
			<a href="//www.facebook.com/sharingear" target="new"><img src="images/icon-fbicon.png" alt="Facebook icon."></a><a href="//twitter.com/sharingear" target="new"><img src="images/icon-twittericon.png" alt="Twitter icon."></a><a href="//instagram.com/sharingear" target="new"><img src="images/icon-igicon.png" alt="Instagram icon."></a>
		</div>
	</div>
	<div class="row logo">
		<div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 text-center">
			<img src="images/logotop@2x.png" alt="Sharingear logo">
		</div>
	</div>
	<div class="row copyright">
		<div class="col-sm-12 text-center sg-lightgray">
			&copy; {{year}} Sharingear
		</div>
	</div>
</div>
