<footer>
  <div class="container-fluid">
    <ul class="nav nav-pills nav-footer">
		<div class="row">
			<div class="col-md-2">
			  <a href="#home">How it works</a>
			</div>
			<div class="col-md-2">
			  <a href="#home">About us</a>
			</div>
			<div class="col-md-2">
			  <a href="#home">Insurance</a>
			</div>
			<div class="col-md-2">
			  <a href="#terms">Terms Of Service</a>
			</div>
			<div class="col-md-2">
			  <a href="#copyright">Copyright Policy</a>
			</div>
			<div class="col-md-2">
			  <a href="#privacy">Privacy Policy</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			  <div class="followusfooter">Follow us on</div>
			</div>
		</div>
		<div class="row" style="margin: 0 auto">
			<div class="footericons">
				<a href="//www.facebook.com/sharingear" target="new"><img src="images/icon-fbicon.png"></a>
			</div>
			<div class="footericons">
				<a href="//twitter.com/sharingear" target="new"><img src="images/icon-twittericon.png"></a>
			</div>
			<div class="footericons">
				<a href="//instagram.com/sharingear" target="new"><img src="images/icon-igicon.png"></a>
			</div>
		</div>
    </ul>
    <div class="footer-logo"><img src="images/logotop@2x.png" width="100%"></a></div>
    <h6 class="copyright text-center">©2014 Sharingear</h6>
  </div>
</footer>




