<div class="gearsearchform">
  <form class="form-inline" id="home-search-form" role="form" autocomplete="off">
    <div class="form-group">
      <label class="sg-blue">Find your gear</label>
      <input type="text" class="form-control" id="search-gear" placeholder="AMP, guitar">
      <div class="suggestion-box hidden" id="gear-suggestions-box"></div>
    </div><div class="form-group">
      <label class="sg-blue">Find a location</label>
      <input type="text" class="form-control" id="search-location" placeholder="">
    </div><div class="form-group search-pickup-container">
      <label class="sg-blue">Pickup</label>
      <input type="text" class="form-control" id="search-pickup" placeholder="15/08/1969" >
    </div><div class="form-group search-return-container">
      <label class="sg-blue">Delivery</label>
      <input type="text" class="form-control" id="search-return" placeholder="18/08/1969" >
    </div><div class="form-group submit-container">
      <input type="submit" id="home-submit-button-id" class="sg-btn sg-blue-bg sg-white" value="Search">
    </div>
  </form>
</div>
