<div class="container-fluid">
    <div class="row">
        <div class="col-md-12"><h2>Confirm order</h2></div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive" src="http://placehold.it/150x150" alt="Renter profile image"/>
                </div>
                <div class="col-xs-8">
                    <h3>John Smith</h3>
                    <p>
                        other user details:
                        <br/>
                        trust level, etc
                    </p>
                </div>
            </div>
            <hr/>
            <h4>Order: <span data-datediff></span> day(-s)</h4>
            <ul data-orderdates></ul>
            <hr/>
            <h4><strong>Total: &euro;<span data-totalorderprice>00.00</span></strong></h4>
        </div>
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <div class="btn-group">
                        <button class="btn btn-default" id="gearavailability-today-btn">Today</button>
                        <button class="btn btn-default" id="gearavailability-previous-btn">Previous</button>
                        <button class="btn btn-default" id="gearavailability-next-btn">Next</button>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-2" id="gearavailability-monthtitle"></div>
                <div class="col-md-12">
                    <div class="calendar month calendar" id="gearavailability-months-container"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" data-cancel>Cancel</button>
            <button class="btn btn-danger" data-deny>Deny</button>
            <button class="btn btn-primary" data-confirm>Confirm</button>
        </div>
    </div>
</div>