<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"><h2>Availability</h2></div>
	</div>
	<div class="row">
		<div class="col-md-12" id="gearavailability-monthtitle"></div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button class="btn btn-default" id="gearavailability-today-btn">Today</button><button class="btn btn-default" id="gearavailability-previous-btn">Previous</button><button class="btn btn-default" id="gearavailability-next-btn">Next</button>
		</div>
		<div class="col-md-6">
			<button class="btn btn-default" id="gearavailability-clearmonth-btn">Clear month</button><button class="btn btn-default" id="gearavailability-always-btn">Always available</button><button class="btn btn-default" id="gearavailability-never-btn">Never available</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 calendar month calendar" id="gearavailability-months-container"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-default" id="gearavailability-cancel-btn">Cancel</button><button class="btn btn-default" id="gearavailability-save-btn">Save</button>
		</div>
	</div>
</div>