<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"><h2>Book</h2></div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<button class="btn btn-default" id="gearbooking-lefttoday-btn">Today</button><button class="btn btn-default" id="gearbooking-leftprevious-btn">Previous</button><button class="btn btn-default" id="gearbooking-leftnext-btn">Next</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-default" id="gearbooking-leftweeks-btn">Weeks</button><button class="btn btn-default" id="gearbooking-leftmonths-btn">Months</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-default" id="gearbooking-righttoday-btn">Today</button><button class="btn btn-default" id="gearbooking-rightprevious-btn">Previous</button><button class="btn btn-default" id="gearbooking-rightnext-btn">Next</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-default" id="gearbooking-rightweeks-btn">Weeks</button><button class="btn btn-default" id="gearbooking-rightmonths-btn">Months</button>
		</div>
	</div>
	<div class="row">

<!-- LEFT SIDE -->
		<div class="col-md-6 calendar week-calendar hidden" id="gearbooking-leftweeks-container"></div>
		<div class="col-md-6 calendar month calendar" id="gearbooking-leftmonths-container"></div>

<!-- RIGHT SIDE -->
		<div class="col-md-6 calendar week-calendar hidden" id="gearbooking-rightweeks-container"></div>
		<div class="col-md-6 calendar month calendar" id="gearbooking-rightmonths-container"></div>
	</div>

<!-- FOOTER BUTTONS -->
	<div class="row">
		<div class="col-md-12">
			<div class="pull-right">
				<button class="btn btn-default" id="gearbooking-cancel-btn">Cancel</button><button class="btn btn-default">Book!</button>
			</div>
		</div>
	</div>
</div>