<div class="view scroll">
  <div class="jumbotron sg-banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center sg-white">THE ULTIMATE MARKETPLACE FOR TOURING MUSICIANS</h2>
        </div>
      </div>

      <div class="row sg-tabbar-container">
        <div class="col-sm-2"><div class="sg-fill sg-blue-bg-50"></div></div>
        <div class="col-sm-8">
          <div class="sg-tabbar sg-tabbar-3">
            <ul>
              <li>
                <button class="sg-btn-square sg-white selected"><div class="sg-icon icon-tabbar-gear"></div><div class="sg-btn-text">GEAR</div></button>
              </li>
              <li>
                <button class="sg-btn-square sg-white" id="home-tab-technicians"><div class="sg-icon icon-tabbar-technicians"></div><div class="sg-btn-text">TECHNICIANS</div></button>
              </li>
              <li>
                <button class="sg-btn-square sg-white" id="home-tab-vans"><div class="sg-icon icon-tabbar-vans"></div><div class="sg-btn-text">VANS &amp; BUSES</div></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2"><div class="sg-fill sg-blue-bg-50"></div></div>
      </div>

      <div class="row sg-black-bg-50">
        <div class="col-sm-12 searchform-container">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row testimonials-title-row">
      <div class="col-md-12 testimonials-title">
        <h3 class="text-center text-uppercase">What other musicians say</h3>
      </div>
    </div>

    <div class="row testimonials-row">

        <div class="col-xs-12 col-sm-4 testimonials-video">
          <iframe src="//player.vimeo.com/video/107903629" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 testimonials-name">
          <span class="h5 text-uppercase">Stephen Carpenter</span>
          <br>
          <span class="h3 text-uppercase">Deftones</span>
        </div>

        <div class="col-xs-12 col-sm-4 testimonials-video">
          <iframe src="//player.vimeo.com/video/117566193" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 testimonials-name">
          <span class="h5 text-uppercase">Jeff Walker</span>
          <br>
          <span class="h3 text-uppercase">Carcass</span>
        </div>


        <div class="col-xs-12 col-sm-4 testimonials-video">
          <iframe src="//player.vimeo.com/video/109912371" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 testimonials-name">
          <span class="h5 text-uppercase">Peter Dolving</span>
          <br>
          <span class="h3 text-uppercase">IAMFIRE</span>
        </div>

    </div>

    <div class="row testimonials-big-name-container">

      <div class="col-xs-12 col-sm-4 testimonials-big-name">
        <span class="h5 text-uppercase">Stephen Carpenter</span>
        <br>
        <span class="h3 text-uppercase">Deftones</span>
      </div>

      <div class="col-xs-12 col-sm-4 testimonials-big-name">
        <span class="h5 text-uppercase">Jeff Walker</span>
        <br>
        <span class="h3 text-uppercase">Carcass</span>
      </div>

      <div class="col-xs-12 col-sm-4 testimonials-big-name">
        <span class="h5 text-uppercase">Peter Dolving</span>
        <br>
        <span class="h3 text-uppercase">IAMFIRE</span>
      </div>

    </div>

    <div class="row references-row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            <h6 class="text-uppercase">As featured on</h6>
          </div>
        </div>
        <div class="row reference-images-row">
          <div class="col-sm-2">
            <image class="references-image" src="../images/nordicstartupbits.png"></image>
          </div>
          <div class="col-sm-2">
            <image class="references-image" src="../images/metalhammer.png"></image>
          </div>
          <div class="col-sm-2">
            <image class="references-image" src="../images/betalist.png"></image>
          </div>
          <div class="col-sm-2">
            <image class="references-image" src="../images/bandsoftomorrow.png"></image>
          </div>
          <div class="col-sm-2">
            <image class="references-image" src="../images/geargods.png"></image>
          </div>
          <div class="col-sm-2">
            <image class="references-image" src="../images/arcticstartup.png"></image>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12">
            <h6 class="text-uppercase">Partnered with</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <image class="references-image" src="../images/ora.png"></image>
          </div>
        </div>
      </div>
    </div>

    <footer></footer>
  </div>
</div>
