<div class="billboard billboard-header">
  <div class="billboard-wrapper">
    <div class="pagetitle-center">

      <div class="jumbotron">
        <div class="container-fluid">  
          <h1>Save costs on tour, make money when home.</h1>
          <h2>Find gear, travel light, make a few extra bucks.</h2>
  <div class="search-container">
          <form class="form-inline" id="home-search-form" role="form" action="" onsubmit="return false;" autocomplete="off">
            <div class="form-group">
              <label>Find your gear</label><br>
              <input type="text" class="form-control" id="search-gear" placeholder="AMP, guitar">
            </div>
            <div class="form-group">
                <label>Find a location</label><br>
              <input type="text" class="form-control" id="search-location" placeholder="">
            </div>
            <div class="form-group">
                <label>Pickup date</label><br>
              <input type="text" class="form-control" id="search-date" placeholder="15/08/1969" >
            </div>
            <div class="form-group">
                <label>Return date</label><br>
              <input type="text" class="form-control" id="search-return" placeholder="18/08/1969" >
            </div>
            <div class="form-group submit-home-btn">
                <input type="submit" class="btn btn-default home-search-button" value="Search">
            </div>
          </form>
  </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- Search block start -->
<div id="home-search-block" class="page-section container-fluid">

    <div class="row" id="testRow"></div>

    <div class='no-results-block'>
        <div class='row sorry-section'>
            <h1>Sorry, no instruments matching your search were found.</h1>
        </div>
        <div class='row request-section'>
            <h2>Request an instrument: </h2>
            <a href="javascript:;" id="fb-share-btn">
                <img src="images/fb_share_noitems.png" class="responsive-img">
            </a>

        </div>

    </div>
</div>


<!-- Search block end -->

<!---Payoff 2 + VIDEO start-->
<div id="home-promo-block" class="page-section">
  <div class="heading-title">
    <h2>What others say about it?</h2>
    <p class="lead">
      Check out a few statements from fellow musicians. 
    </p>
  </div>


  <!-- =========================
       TESTIMONIALS
  ============================== -->
    <section class="testimonials">
        <div class="color-overlay">

            <div class="video-container">
                <iframe class="video" src="//player.vimeo.com/video/107903629" height="360" width="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            <div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="4.0s">
                <!-- FEEDBACKS -->
                <div id="feedbacks" class="owl-carousel owl-theme">

                    <!-- SINGLE FEEDBACK -->
                    <div class="feedback">
                        <div class="image">
                            <img src="images/3.jpg" alt="Stephen Carpenter">
                        </div>
                        <div class="message">"Got some gear or need some gear? It's all there on Sharingear. Get your gear out there, and get it workin' for you."</div>
                        <div class="white-line"></div>
                        <div class="name">Stephen Carpenter</div>
                        <div class="company-info">Guitarist, DEFTONES</div>
                    </div>
                    <!-- /END SINGLE FEEDBACK -->

                    <!-- SINGLE FEEDBACK -->
                    <div class="feedback">
                        <div class="image">
                            <img src="images/1.jpg" alt="Peter Dolving">
                        </div>
                        <div class="message">"It's kind of like a marketplace, friendship and community to share instruments and save costs and make some money. It's a way to make it easier for each other as musicians in bands - a way for everyone to help out."</div>
                        <div class="white-line"></div>
                        <div class="name">Peter Dolving</div>
                        <div class="company-info">Vocalist, ex-THE HAUNTED/IAMFIRE</div>
                    </div>
                    <!-- /END SINGLE FEEDBACK -->

                    <!-- SINGLE FEEDBACK -->
                    <div class="feedback">
                        <div class="image">
                            <img src="images/2.jpg" alt="Ryan Knight">
                        </div>
                        <div class="message">"If you are in a band, flying into some place in Europe, sometimes instead of having to get the whole backline, maybe if you just need to fly in and play one show, there are musicians in other towns, possibliy in your town, that have gear just laying around you can rent."</div>
                        <div class="white-line"></div>
                        <div class="name">Ryan Knight</div>
                        <div class="company-info">Guitarist, THE BLACK DAHLIA MURDER</div>
                    </div>
                    <!-- /END SINGLE FEEDBACK -->

                    <!-- SINGLE FEEDBACK -->
                    <div class="feedback">
                        <div class="image">
                            <img src="images/4.jpg" alt="Franz Gottschalk">
                        </div>
                        <div class="message">"This is an extremely cool service and something that every musician needs to use. From time to time I do rent out of my mesa-boogie cabinets, and with this platform I am able to connect with more musicians than before. Try it out, I guarantee its a great experience for everyone playing music."</div>
                        <div class="white-line"></div>
                        <div class="name">Franz Gottschalk</div>
                        <div class="company-info">Guitarist, ex-VOLBEAT</div>
                    </div>
                    <!-- /END SINGLE FEEDBACK -->

                    <!-- SINGLE FEEDBACK -->
                    <div class="feedback">
                        <div class="image">
                            <img src="images/5.jpg" alt="Mathias Jensen">
                        </div>
                        <div class="message">"Need som equipment for a recording session and don't think your own gear is up to par? Or do you just want to try out some different possibilities in your own rehearsal space before deciding what to buy for yourself? Sharingear is the way to go..."</div>
                        <div class="white-line"></div>
                        <div class="name">Mathias Jensen</div>
                        <div class="company-info">Guitarist, Hobby Musician</div>
                    </div>
                    <!-- /END SINGLE FEEDBACK -->

                    <!-- SINGLE FEEDBACK -->
                    <div class="feedback">
                        <div class="image">
                            <img src="images/6.jpg" alt="Ken Holst">
                        </div>
                        <div class="message">"Musicians need to work more close together as the market doesn't leave anything left for those who actually create the music. Sharingear facilitates a networking opportunity, where you can not only save costs but also make a cash from your gear."</div>
                        <div class="white-line"></div>
                        <div class="name">Ken Holst</div>
                        <div class="company-info">Guitarist, ILLDISPOSED</div>
                    </div>
                    <!-- /END SINGLE FEEDBACK -->

                </div>
                <!-- /END FEEDBACKS -->
            </div>
            <!-- /END CONTAINER -->
        </div>
        <!-- /END COLOR OVERLAY -->
    </section>
    <!-- /END TESTIMONIALS SECTION -->

</div>
<!---Payoff 2 + VIDEO end-->

<div class="billboard billboard-how-it-works">
  <div class="billboard-wrapper">
    <div class="pagetitle-center">
      <h1 class="title">How it works?</h1>
      <div class="row">
        <div class="col-md-4 howitworkssize">
          <img src="images/howitworks_001.png" alt="Save transportation costs">
          <h3>Save transportation costs</h3>
        </div>
        <div class="col-md-4 howitworkssize">
          <img src="images/howitworks_002.png" alt="Rent locally">
          <h3>Rent locally</h3>
        </div>

        <div class="col-md-4 howitworkssize">
          <img src="images/howitworks_003.png" alt="Play shows - live'n'loud">
          <h3>Play shows - live'n'loud </h3>
        </div>
      </div>
    </div>
  </div>
</div>
