<div class="view scroll">
  <div class="jumbotron sg-banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center sg-white">THE ULTIMATE MARKETPLACE FOR TOURING MUSICIANS</h2>
        </div>
      </div>
      
      <div class="row sg-tabbar-container">
        <div class="col-sm-2"><div class="sg-fill sg-blue-bg-50"></div></div>
        <div class="col-sm-8">
          <div class="sg-tabbar sg-tabbar-3">
            <ul>
              <li>
                <button class="sg-btn-square sg-white selected"><div class="sg-icon icon-tabbar-gear"></div><div class="sg-btn-text">GEAR</div></button>
              </li>
              <li>
                <button class="sg-btn-square sg-white" id="home-tab-technicians"><div class="sg-icon icon-tabbar-technicians"></div><div class="sg-btn-text">TECHNICIANS</div></button>
              </li>
              <li>
                <button class="sg-btn-square sg-white" id="home-tab-vans"><div class="sg-icon icon-tabbar-vans"></div><div class="sg-btn-text">VANS &amp; BUSES</div></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2"><div class="sg-fill sg-blue-bg-50"></div></div>
      </div>

      <div class="row sg-black-bg-50">
        <div class="col-sm-12 searchform-container">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">WHAT OTHER MUSICIANS SAY</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <iframe src="//player.vimeo.com/video/107903629" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <h5>Stephen Carpenter</h5>
        <h3>DEFTONES</h3>
      </div>
      <div class="col-md-4">
        COMING SOON
        <h5>Jeff Walker</h5>
        <h3>CARCASS</h3>
      </div>
      <div class="col-md-4">
        <iframe src="//player.vimeo.com/video/109912371" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <h5>Peter Dolving</h5>
        <h3>IAMFIRE</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-12">
            <h6>AS FEATURED ON:</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            Nordic startup bits
          </div>
          <div class="col-sm-2">
            Beta list
          </div>
          <div class="col-sm-2">
            Bands of tomorrow
          </div>
          <div class="col-sm-2">
            Gear gods
          </div>
          <div class="col-sm-2">
            Artic startup
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-12">
            <h6>PARTNERED WITH:</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            Royal Beer
          </div>
        </div>
      </div>
    </div>

    <footer></footer>
  </div>
</div>
