<div class="view insurance">
	<div class="container-fluid">
		<div class="row sg-rehearsal-bg">
			<div class="col-sm-4 text-right insurance-stamp">
				<img src="images/insurance_stamp.png" alt="Insurance stamp">
			</div>
			<div class="col-sm-7 sg-yellow">
				<p>
					The Sharingear Guarantee<br>
					We’re constantly working to make Sharingear a safe place for renters and owners.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p class="text-center sg-blue message">
					We want you to be comfortable listing your instruments and backline on Sharingear.<br>
					That's why we're guaranteeing your gear’s safety on our system. If your gear is damaged or stolen during a rental period and the renter is unable to reimburse you for the fair value of your gear, we'll cover the cost up to 10,000€ for instruments listed on our platform. 
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h1 class="sg-h1 sg-darkergray text-center">How we build trust</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<div class="row">
					<div class="col-sm-4">
						<div class="title sg-blue">
							<div class="sg-icon icon-booking-accepted"></div> ID Verification
						</div>
						<p>
							Renters and owners verify their Sharingear accounts with their Credit Card, mobile phone number, Twitter and Facebook. The verification validates your online identity to help people get a better idea of who they’re renting to or from. Verifying your account helps others trust you and makes your ride show up higher in search results.
						</p>
					</div>
					<div class="col-sm-4">
						<div class="title sg-blue">
							<div class="sg-icon icon-booking-accepted"></div> Community reviews
						</div>
						<p>
							Reviews are collected from the owner and the renter following every rental in order to self regulate our community. Reviews are left for the owner, the renter, and the gear, so you can hear first hand about other people's experiences with the great people on Sharingear.
						</p>
					</div>
					<div class="col-sm-4">
						<div class="title sg-blue">
							<div class="sg-icon icon-booking-accepted"></div> Keep your privacy
						</div>
						<p>
							We never share your information with anyone until you confirm their rental. You can keep all communications in our secure, private messaging system so you don’t need to share your contact info and you can choose where you’d like to meet renters if you’d rather not share your address.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer></footer>
</div>