<div class="listyourgear">
  <div class="topadd-a" style="background: #fff;">Sharingear lets you rent out your gear<br><span>Click on the type of gear you wish to list&nbsp;</span></div>

  <!---Main List Your Gear Field  - Start --> 

  <div class="listyourgear-action jumbo">
    <div class="page-container" style="padding-top: 40px; padding-bottom: 40px;">
      <div class="row row-space-5 row-table">
        <div class="col-md-1 col-md-offset-1">
          <div class="h4 text-light">Gear</div>
        </div>
        <div class="col-md-10 fieldset">
          <form class="gearlist-form" id="gearForm">
            <div class="custom-checkbox-group">
            
              <div class="custom-checkbox">
                <input type="checkbox" id="custom-checkbox-guitar" name="guitar" value="guitar">
                <label for="custom-checkbox-guitar">
                <img src="images/instrumenticon_guitar.png" class="custom-checkbox-image">Guitar</label>
              </div>

              <div class="custom-checkbox">
                <input type="checkbox" id="custom-checkbox-bass" name="bass" value="bass">
                <label for="custom-checkbox-bass">
                <img src="images/instrumenticon_bass.png" class="custom-checkbox-image">Bass</label>
              </div>

              <div class="custom-checkbox"><input type="checkbox" id="custom-checkbox-amp" name="amp" value="amp"><label for="custom-checkbox-amp"><img src="images/instrumenticon_amp2.png" class="custom-checkbox-image">Amp</label></div>

              <div class="custom-checkbox"><input type="checkbox" id="custom-checkbox-drums" name="drums" value="drums"><label for="custom-checkbox-drums"><img src="images/instrumenticon_drums.png" class="custom-checkbox-image">Drums</label></div>

              <div class="custom-checkbox"><input type="checkbox" id="custom-checkbox-key" name="key" value="keyboard"><label for="custom-checkbox-key"><img src="images/instrumenticon_keyboard.png" class="custom-checkbox-image">Key</label></div>

              <div class="custom-checkbox"><input type="checkbox" id="custom-checkbox-mic" name="mic" value="studio"><label for="custom-checkbox-mic"><img src="images/instrumenticon_studio.png" class="custom-checkbox-image">Studio</label></div>

              <div class="custom-checkbox"><input type="checkbox" id="custom-checkbox-PA" name="PA" value="pa"><label for="custom-checkbox-PA"><img src="images/instrumenticon_PA.png" class="custom-checkbox-image">PA</label></div>

              <div class="custom-checkbox"><input type="checkbox"  id="custom-checkbox-DJ" name="DJ" value="dj"><label for="custom-checkbox-DJ"><img src="images/instrumenticon_dj.png" class="custom-checkbox-image">DJ</label></div>

              <div class="custom-checkbox"><input type="checkbox"  id="custom-checkbox-brass" name="brass" value="classical"><label for="custom-checkbox-brass"><img src="images/instrumenticon_classical.png" class="custom-checkbox-image">Classical</label></div>

            </div>
          </form>
        </div>
      </div>
      <div class="row row-space-5 row-space-top-5 row-table">
        <div class="col-md-1 col-md-offset-1">
          <div class="h4 text-light">City</div>
        </div>
        <div class="col-md-10 fieldset fieldset_city">
          <div class="row">
            <div class="col-6">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><img src="images/sharingearicon23x23.png" alt="Sharingear icon"></span>
                <input type="text" id="listyourgear-location" class="form-control" placeholder="San Francisco, Berlin, Copenhagen, Krakow...">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-space-5 row-space-top-5 row-table">
        <div class="col-lg-11 text-right">
          <button type="button" class="btn btn-primary submitstyle" id="submitGearButton">Submit</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
