<div class="topadd-a">Sharingear lets you rent out your gear<br><span>Click on the type of gear you wish to list&nbsp;</span></div>

<!---Main List Your Gear Field  - Start --> 

<div class="testimonials jumbo">
  <div class="page-container">
    <div class="row row-space-5 row-space-top-5 row-table">
      <div class="col-md-2 text-right">
        <div class="h4 text-light">Gear</div>
      </div>
      <div class="col-md-10 fieldset">
        <div class="btn-group">
          <button class="btn btn-large"><img src="images/instrumenticon_gtr.png" class="iconbtn" alt="Guitar icon">Guitar</button>
          <button class="btn btn-large type"><img src="images/instrumenticon_bass.png" class="iconbtn" alt="Bass icon">Bass</button>
          <button class="btn btn-large type"><img src="images/instrumenticon_amp2.png" class="iconbtn" alt="Amp icon">Amp</button>
          <button class="btn btn-large"><img src="images/instrumenticon_cabinet.png" class="iconbtn" alt="Cabinet icon">Cabinet</button>
          <button class="btn btn-large"><img src="images/instrumenticon_combo.png" class="iconbtn" alt="Combo icon">Combo</button>
          <button class="btn btn-large type"><img src="images/instrumenticon_drums.png" class="iconbtn" alt="Drums icon">Drums</button>
          <button class="btn btn-large type"><img src="images/instrumenticon_key.png" class="iconbtn" alt="Keyboard icon">Keyboard</button>
          <button class="btn btn-large"><img src="images/instrumenticon_microphones.png" class="iconbtn" alt="Studio icon">Studio</button>
          <button class="btn btn-large type"><img src="images/instrumenticon_PA.png" class="iconbtn" alt="PA icon">PA</button>
          <button class="btn btn-large"><img src="images/instrumenticon_dj.png" class="iconbtn" alt="DJ icon">DJ</button>
          <button class="btn btn-large type"><img src="images/instrumenticon_pedals.png" class="iconbtn" alt="Pedals icon">Pedals</button>
          <button class="btn btn-large type"><img src="images/instrumenticon_brass.png" class="iconbtn" alt="Brass icon">Brass</button>
        </div>
      </div>
    </div>
    <div class="row row-space-5 row-space-top-5 row-table">
      <div class="col-md-2 text-right">
        <div class="h4 text-light">City</div>
      </div>
      <div class="col-md-10 fieldset fieldset_city">
        <div class="row">
          <div class="col-6">
            <div class="input-group input-group-lg">
              <span class="input-group-addon"><img src="images/sharingearicon23x23.png" alt="Sharingear icon"></span>
              <input type="text" class="form-control" placeholder="San Francisco, Berlin, Copenhagen, Krakow...">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-space-5 row-space-top-5 row-table">
      <div class="col-lg-11 text-right">
        <button class="btn btn-primary submitstyle">Submit</button>
      </div>
    </div>
  </div>
</div>

