
<div class="topadd-a">Sharingear lets you rent out your gear
        <br><span>Click on the type of gear you wish to list&nbsp;</span>
      </div>


<!---Main List Your Gear Field  - Start --> 


<div class="testimonials jumbo">
<div class="page-container">

  <div class="row row-space-5 row-space-top-5 row-table">
            <div class="col-3 text-right col-middle">
              <div class="h4 text-light">
               Gear
              </div>
            </div>
            <div class="col-9 fieldset">
              <div class="btn-group">
        <button class="btn btn-large">
            <img src="images/instrumenticon_gtr.png" class="iconbtn">Guitar</button>
    <button class="btn btn-large type"> 
        <img src="images/instrumenticon_bass.png" class="iconbtn">Bass</button>
        <button class="btn btn-large type"> 
        <img src="images/instrumenticon_amp2.png" class="iconbtn">Amp</button>
    <button class="btn btn-large"> <img src="images/instrumenticon_cabinet.png" class="iconbtn">Cabinet</button>
     <button class="btn btn-large"> <img src="images/instrumenticon_combo.png" class="iconbtn">Combo</button>
    <button class="btn btn-large type"> <img src="images/instrumenticon_drums.png" class="iconbtn">Drums</button>
    <button class="btn btn-large type"> <img src="images/instrumenticon_key.png" class="iconbtn">Keyboard</button>
  </div>
</div>
      </div>
          </div>
                <div class="row row-space-5 row-space-top-5 row-table">
            <div class="col-3 text-right col-middle">
              <div class="h4 text-light">
            
              </div>
            </div>
            <div class="col-9 fieldset">
              <div class="btn-group">
        <button class="btn btn-large"><img src="images/instrumenticon_microphones.png" class="iconbtn">Studio</button>
    <button class="btn btn-large type"> <img src="images/instrumenticon_PA.png" class="iconbtn">PA</button>
    <button class="btn btn-large"> <img src="images/instrumenticon_dj.png" class="iconbtn">DJ</button>
    <button class="btn btn-large type"> <img src="images/instrumenticon_pedals.png" class="iconbtn">Pedals</button>
    <button class="btn btn-large type"> <img src="images/instrumenticon_brass.png" class="iconbtn">Brass</button>
  </div>
</div>
</div>

    <div class="row row-space-5 row-space-top-5 row-table">
        <div class="col-3 text-right col-middle">
            <div class="h4 text-light">City</div>
            </div>
            <div class="col-9 fieldset fieldset_city col-middle">
              <div class="row">
  <div class="col-6">


<div class="input-group input-group-lg">
  <span class="input-group-addon"><img src="images/sharingearicon23x23.png"></span>
  <input type="text" class="form-control" placeholder="San Francisco, Berlin, Copenhagen, Krakow...">
</div>

  <!--   <div class="panel location thispanelbg">
      <div class="panel-body panel-light panel-border location-panel-body">
        <i class="icon icon icon-map-marker icon-kazan h4 pull-left"></i>
        <input id="location_input" name="location_input" placeholder="San Fransisco, Rom, Shibuya..." type="text" class="geocomplete" autocomplete="off">

      </div>
   -->  </div>
  </div>
</div>
</div>
</div>
<div class="row row-space-5 row-space-top-5 row-table">
        <div class="col-3 text-right col-middle">
            <div class="h4 text-light"></div>
            </div>
            <div class="col-9">
              <div class="row">
              </div>
              </div>

  <div class="col-6">
  <div class="btn btn-primary submitstyle">Submit</div>

<!-- <a href="signup" class="btn btn-primary"> -->
  <!--   <div class="btn-group submitstyle">
  <button class="btn btn-primary" type="button">Default button</button>
   -->


  </div>
</div>
</div>
</div>
</div>
</div>
</div>












