<nav class="sg-navbar" role="navigation">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-2">
				<button type="button" class="sg-navbar-toggle sg-btn-invisible-blue" data-target="#navigation-header-menu-left"><i class="fa fa-bars"></i></button>
			</div>
			<div class="col-xs-8 col-sm-7 sg-blue sg-navbar-brand"></div>
			<div class="col-sm-4 col-sm-offset-1 sg-navbar-dropdownmenu sg-navbar-dropdownmenu-left hidden" id="navigation-header-dropdownmenu-left">
				<div class="dropdown pull-right sg-no-mobile">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><div src="" class="profile-pic"></div><div class="menu-text">MENU</div><!--<span class="caret"></span>--></button>
					<div class="dropdown-menu list-group" role="menu"></div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-1 sg-navbar-dropdownmenu sg-navbar-dropdownmenu-left" id="navigation-header-signin-signup">				
				<a href="#search"><div class="sg-btn-invisible sg-blue desktop-signin-signup-menu-text">Search</div></a>
				<a href="javascript:;" id="navigation-header-signin"><div class="sg-btn-invisible sg-blue desktop-signin-signup-menu-text">Sign up</div></a>
				<a href="javascript:;" id="navigation-header-signup"><div class="sg-btn-invisible sg-blue desktop-signin-signup-menu-text">Sign in</div></a>
			</div>
		</div>
	</div>
</nav>

<div class="sg-navbar-slidemenu sg-navbar-slidemenu-left" id="navigation-header-slidemenu-left">
	<div class="list-group" role="menu"></div>
</div>
