<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid"> 
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sg-example-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"> <img class="image image-1" src="images/logotop.png"></a>
		</div>
		<div class="collapse navbar-collapse" id="sg-example-navbar-collapse">
			<ul class="nav nav-pills navbar-right" id="navigationheader-buttonsright">
			</ul>
		</div>
		<div class="bluelineheader"></div>
	</div>
</nav>