<div class="container-fluid">
	<form id="payment-form" action="" onsubmit="return false;">
		<div class="col-md-6 form-left">
		<h2 style="color: #00aeff">Payment information:</h2>
		<div class="form-group missing-userdata">
			<label for="payment-birthdate">Date of birth (DD/MM/YYYY):</label>
			<input type="text" name="address" id="payment-birthdate" class="form-control">
		</div>
		<div class="form-group missing-userdata">
			<label for="payment-address">Address:</label>
			<input type="text" name="address" id="payment-address" class="form-control">
		</div>
		<div class="form-group missing-userdata">
			<label for="payment-postalcode">Postal code:</label>
			<input type="text" name="postal_code" id="payment-postalcode" class="form-control">
		</div>
		<div class="form-group missing-userdata">
			<label for="payment-city">City:</label>
			<input type="text" name="city" id="payment-city" class="form-control">
		</div>
		<div class="form-group missing-userdata">
			<select name="country" id="payment-country" class="form-control">
				<option value="">Select your country</option>
			</select>
		</div>
		<div class="form-group missing-userdata">
			<select name="nationality" id="payment-nationality" class="form-control">
				<option value="">Select your nationality</option>
			</select>
		</div>
		<div class="form-group missing-userdata">
			<label for="payment-phone">Phone:</label>
			<input type="text" name="phone" id="payment-phone" class="form-control">
		</div>
		<div class="form-group">
		<label>Card type:</label>
		<br>
		<input type="radio" name="cardtype" value="visa" checked>
		VISA
		<input type="radio" name="cardtype" value="mastercard">
		MasterCard
		</div>
		<div class="form-group">
			<label for="payment-cardnumber">Card number:</label>
			<input type="text" name="cardnumber" id="payment-cardnumber" class="form-control">
		</div>
		<div class="form-group">
			<label for="payment-expirationdate">Expiration date (MM/YY):</label>
			<div class="row">
				<div class="col-xs-6">
					<select name="expiration-month" id="expiration-month" class="form-control">
						<option value="">Select month</option>
					</select>
				</div>
				<div class="col-xs-6">
					<select name="expiration-year" id="expiration-year" class="form-control">
						<option value="">Select year</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="payment-csc">Security code:</label>
			<input type="text" name="csc" id="payment-csc" class="form-control">
		</div>
		</div>
		<div class="col-md-6 form-right">
			<h2 style="color: #00aeff">Booking information:</h2>
			<div id="payment-gear-info" class="form-group">

			</div>
			<div class="payment-dates">
				<div class="row bottom-line">
					<div class="col-xs-3">
						From:
					</div>
					<div id="payment-gear-datesfrom" class="col-xs-9 right">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						To:
					</div>
					<div id="payment-gear-datesto" class="col-xs-9 right">
					</div>
				</div>
			</div>
			<div class="col-xs-6 form-group price-container-payment">
				<div class="row payment-row-padding">
					<div class="col-xs-8 payment-small-box-fix">Price per hour:</div>
					<div id="payment-price-of-hour" class="col-xs-4 payment-small-box-fix2 right">{{price_a}}</div>
				</div>
				<div class="row payment-row-padding">
					<div class="col-xs-8 payment-small-box-fix">Price per day:</div>
					<div id="payment-price-of-day" class="col-xs-4 payment-small-box-fix2 right">{{price_b}}</div>
				</div>
				<div class="row payment-row-padding">
					<div class="col-xs-8 payment-small-box-fix">Price per week:</div>
					<div id="payment-price-of-week" class="col-xs-4 payment-small-box-fix2 right">{{price_c}}</div>
				</div>
			</div>
			<div class="col-xs-6 price-container-payment price-container-payment-right">
				<div class="row payment-row-padding">
					<div class="col-xs-10 payment-small-box-fix">Number of hours:</div>
					<div id="payment-number-of-hours" class="col-xs-2 payment-small-box-fix2 right">{{hours}}</div>
				</div>
				<div class="row payment-row-padding">
					<div class="col-xs-10 payment-small-box-fix">Number of days:</div>
					<div id="payment-number-of-days" class="col-xs-2 payment-small-box-fix2 right">{{days}}</div>
				</div>
				<div class="row payment-row-padding">
					<div class="col-xs-10 payment-small-box-fix">Number of weeks:</div>
					<div id="payment-number-of-weeks" class="col-xs-2 payment-small-box-fix2 right">{{weeks}}</div>
				</div>
			</div>
			<div class="col-xs-12 form-group total-price-payment-container"><span class="total-price">Total price is: {{price}}</span></div>
			<div class="form-group right">
				<button class="btn editgear-cancel-button btn-default" id="payment-cancel-btn">Cancel</button>
				<button type="submit" class="btn editgear-save-button btn-default" id="payment-btn">Pay {{price}} {{currency}}</button>
			</div>
			<div class="row bottom-line"></div>
			<div class="row center">
				<div class="small">We will only withdraw the money once the owner of the gear has accepted your booking.</div>
			</div>
		</div>
	</form>
</div>