<div class="sg-lightbox">
	<div class="pickupdeliverycalendar-container">
		<div class="container-fluid pickupdeliverycalendar">
			<div class="row">
				<div class="col-xs-6 sg-toptab sg-toptab-active" id="pickupdeliverycalendar-pickupdate"><i class="fa fa-calendar"></i><div class="text-center">-</div></div>
				<div class="col-xs-6 sg-toptab" id="pickupdeliverycalendar-deliverydate"><i class="fa fa-calendar"></i><div class="text-center">-</div></div>
			</div>
			<div class="row calendar-navigation">
				<div class="col-xs-2 text-center"><button class="sg-btn-invisible-gray" id="pickupdeliverycalendar-prev"><i class="fa fa-angle-left"></i></button></div>
				<div class="col-xs-8 text-center"><strong id="pickupdeliverycalendar-currentmonth"></strong></div>
				<div class="col-xs-2 text-center"><button class="sg-btn-invisible-gray" id="pickupdeliverycalendar-next"><i class="fa fa-angle-right"></i></button></div>
			</div>
			<div class="row">
				<div class="calendar"></div>
			</div>
		</div>
	</div>
</div>