<div class="container-fluid pickupdeliverycalendar">
	<div class="row">
		<div class="col-xs-6 sg-toptab sg-toptab-active" id="pickupdeliverycalendar-pickupdate">
			<i class="col-xs-2 fa fa-calendar"></i>
			<span class="col-xs-2 text-left">From</span>
			<div class="col-xs-8 text-center">-</div>
		</div>
		<div class="col-xs-6 sg-toptab" id="pickupdeliverycalendar-deliverydate">
			<i class="col-xs-2 fa fa-calendar"></i>
			<span class="col-xs-2 text-left">To</span>
			<div class="col-xs-8 text-center">-</div>
		</div>
	</div>
	<div class="text-center hint">Select from date</div>
	<div class="row calendar-navigation">
		<div class="col-xs-2 text-center"><button class="sg-btn-invisible-gray" id="pickupdeliverycalendar-prev"><i class="fa fa-angle-left"></i></button></div>
		<div class="col-xs-8 text-center"><strong id="pickupdeliverycalendar-currentmonth"></strong></div>
		<div class="col-xs-2 text-center"><button class="sg-btn-invisible-gray" id="pickupdeliverycalendar-next"><i class="fa fa-angle-right"></i></button></div>
	</div>
	<div class="row">
		<div class="calendar">
		</div>
	</div>
</div>