<div class="view privacy">
	<div class="container-fluid sg-lightgray-bg">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h1 class="sg-h1 sg-blue">SharingearPrivacy Policy</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					Last Updated: November 28, 2014
				</p>
				<p>
					These privacy policies (the “Privacy Policy”) explain how Sharingear IVS (“we,” “us,” “our,” or “Sharingear”) collects, stores, uses, and discloses your personal information when you use  <a href="http://www.sharingear.com">www.sharingear.com</a> (the “Site”), our mobile and desktop apps, if any (the “Application”), and all related sites, widgets, tools, apps, data, software and other services provided by Sharingear (collectively, the “Services”) (the Site, Application, and Services shall be sometimes collectively referred to herein as the “Platform”).
					We encourage you to read this Privacy Policy thoroughly prior to use of the Platform.
				</p>
				<p>
					By using the Platform, you agree and consent to the terms and practices described in this Privacy Policy.
					<strong>If you do not agree to any of the provisions outlinedin this Privacy Policy, you should not use the Platform.</strong>
					If you have any questions about this Privacy Policy, please contact <a href="mailto:legal@sharingear.com">legal@sharingear.com</a>.
				</p>
				<p>
					Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our <a href="#!terms-of-service">Terms of Service</a>.
				</p>
			</div>
		</div>	

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">1. Information we collect</h3>
			</div>
		</div>	

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
				When you use the Platform, we may collect personal information that can identify you, such as your name and email address, and other information that does not identify you.
				Our primary purposes in collecting information are to provide and improve the Platform, to administer your use of the Platform, and to enable users to enjoy and easily navigate the Platform.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">Information you provide</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				When you register for an account through the Site or Application and become a Member, when you choose to post a Gear profile or book a Gear, or when you wish to contact another Member, we will ask you for personally identifiable information that can be used to contact or identify you, such as your full name, phone number, home address, email address, and social security number (SSN).
				In order to process transactions through the Site and Application, we may also ask you for your credit card, bank details, and other billing information.
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					To register for an account via the Site or Application, you will be required to either:
				</p>
				<ol class="sg-romanlist">
					<li>provide your first name, last name, and email address and choose a password; or</li>
					<li>
						provide information by logging into your online account with a third party service provider (“SNS”), such as Facebook, (each such account, a “Third Party Account”), linking such account to your Sharingear account, and allowing Sharingear to obtain information from your Third Party Account to create your Sharingear account and profile page (for more information, please see Section 4 in our Terms of Service).
						Depending on the Third Party Accounts you choose to link with your Sharingear account, and subject to your privacy settings in such Third Party Accounts, you understand and agree that by granting us access to the Third Party Accounts, we will access, obtain, make available, and store (if applicable and as permitted by the SNS) the information in your Third Party Accounts (such as your full name, email address, profile picture, names of contacts on your Third Party Account (“Friends”), photographs, and/or other information you make publicly available or authorize us to access by authorizing the SNS to provide such information) so that it is available on and through your Sharingear account on the Platform.
						This may include information about your “friends” or people with whom you are associated on your Third Party Account (depending on the privacy settings such people have with the applicable SNS).
						You represent that you are entitled to disclose your Third Party Account login information to Sharingear and/or grant Sharingear access to your Third Party Account (including, but not limited to, for the purposes described herein) without breach by you of any of the terms and conditions that govern your use of the applicable Third Party Account and without obligating Sharingear to pay any fees or making Sharingear subject to any usage limitations imposed by the applicable SNS.
					</li>
				</ol>
				<p>
					You may choose to provide additional personal information for your Sharingear Profile, such as photograph(s), biographical information, and website URLs. You may choose to provide additional information when you create a Gear, such as photographs and descriptions of your listed item(s). If any of the content you upload, share, and/or distribute via the Platform contains personal information about yourself and/or others, such information may be stored as well.
				</p>
				<p>
					The Platform may provide a referral service that allows you to invite your friends and contacts to use the Platform or write a reference about you, to be published on your public profile. We may integrate the Platform with third-party sites such as Facebook, so that you can send invitation messages or requests for references via the third-party site itself.
					These messages will be sent by the third-party site, and Sharingear does not collect or retain the contact information that is used to send them.
					You may also send invitation/request emails via the Platform, in which case we will ask you for the email addresses to send these emails to.
					We will use the information sent to us for the purpose of sending your friends and contacts a one-time email, inviting him or her to visit the Platform or to write a reference for you.
					With respect to referrals, we will also store the email addresses of your invitees to track if your friends join Sharingear in response to your referral.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">Information we collect automatically</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					We may collect some information automatically as a result of your use of the Platform or through the use of web analytics services. This information may include:
				</p>
				<ol class="sg-romanlist">
					<li>the Internet Protocol (IP) address of the device from which you access the Site or Application;</li>
					<li>the specific actions you take on the Site or Application, including the pages you visit, content you upload, accounts you link, content you share with others, comments and feedback you post, your communications with other users, and searches you perform;</li>
					<li>any search terms you may enter on the Site or Application;</li>
					<li>the time, frequency, and duration of your visits to the Site and Application;</li>
					<li>your browser type, operating system, and the nature of the device from which you are accessing the Platform;</li>
					<li>information collected through cookies and similar technology; and</li>
					<li>information regarding your interaction with email messages.</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">Information we collect using cookies</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					Sharingear uses “cookies” in conjunction with the Platform to obtain information.
					A cookie is a small data file that is transferred to your device (e.g., your phone or computer) for record-keeping purposes.
				</p>
				<p>
					When you visit the Platform, we may assign your device one or more cookies, to facilitate access to the Platform, streamline the functioning of the Platform, monitor and analyze the performance and operation of the Platform, and personalize your experience.
					We use cookies to collect site data, such as when you visit the Site and use our Application, the links you click, and pages you visit.
					We may, either directly or through third party companies and individuals we engage to provide services to us, also continue to track your behavior on the Platform for purposes of our own customer support, analytics, research, product development, fraud prevention, risk assessment, regulatory compliance, investigation, as well as to enable you to use and access the Platform and pay for your activities on the Platform.
					We may also use other Internet technology, such as web beacons, to track your use of our site and in e-mail messages or newsletters.
					This Privacy Police will apply to our treatment of the information we obtain via our cookies and other Internet technology.
				</p>
				<p>
					We may also allow our business partners to place cookies on your device.
					For example, we use Google Analytics for web analytics, and so Google may also set cookies on your device.
					Third parties may also place cookies on your device for advertising purposes.
					Third parties that use cookies and other tracking technologies to deliver targeted advertisements on the Platform and/or third party websites may offer you a way to prevent such targeted advertisements by opting-out at the websites of certain industry groups or such third parties.
					Please note that even if you choose to opt-out of receiving targeted advertising, you may still receive advertising on the Platform – it just will not be tailored to your interests.
				</p>
				<p>
					Most browsers have an option for turning off cookies; however, if you disable cookies, you may not be able to sign into your account or use most of the Platform content and features.
					By choosing to use the Platform without blocking or disabling cookies or other similar technologies, you indicate your consent to our use of these technologies and to our use (in accordance with this Privacy Policy) of any personal information that we collect using these technologies.
					This Privacy policy covers our and our business partners’ use of cookies and does not cover the use of cookies by other third parties.
					We do not control when or how third parties place cookies on your computer.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">Third-Party social media plugins</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					The Platform may use third-party social plugins that are provided and operated by third-party companies, such as Facebook’s “Like” button or Pinterest’s “Pin It” button.
					By utilizing these features, you may send to the third-party company the information that you are viewing on a certain part of our Platform.
					If you are not logged into your account with the third-party company, then the third party may not know your identity.
					If you are logged into your account with the third-party company, then the third party may be able to link information about your visit to the Platform to your account with them and your interactions with the social plugin may be recorded by the third party.
					Please reference the third party’s privacy policy for information about its data practices, such as what data is collected about you and how it is used.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">2. How we use your information</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					We use the information that we collect about you for the following general purposes:
				</p>
				<ul>
					<li>To operate and maintain your Sharingear account and to provide you with access to the Platform.</li>
					<li>To identify you as the creator of the content that you upload, the ratings that you post, the Gears that you make, and/or the other contributions that you make to the Platform.</li>
					<li>To operate, protect, improve, and optimize the Platform, our business, and our users’ experience, such as to perform analytics, conduct research, and for advertising and marketing.</li>
					<li>To send you service, support, and administrative messages, reminders, technical notices, updates, security alerts, and information requested by you.</li>
					<li>To customize your use of the Platform.</li>
					<li>To administer rewards, surveys, sweepstakes, contests, or other promotional activities or events sponsored or managed by Sharingear or our business partners.</li>
					<li>To comply with our legal obligations, resolve any disputes that we may have with any of our users, enforce our agreements with third parties, and prevent or take action against activities that are, or may be, in breach of our <strong>Terms of Service</strong> or applicable law.</li>
					<li>For other purposes, provided that we disclose this to you at the relevant time and provided that you agree to the proposed use of your personal information.</li>
				</ul>
				<p>
					We may also use the information for the following purposes:
				</p>
				<ul>
					<li>Your email address and password are used to identify you when you log into the Site.</li>
					<li>
						Additional personal information that you provide as part of your profile, such as your name, Gear, uploaded content (such as photographs), and links to your website and other social media profiles (but not your email address or phone number), will be published on your profile page.
						This information will be publicly accessible to and may be viewed by anyone accessing the Platform.
						Parts of your public profile page that may contain personal information may be displayed in other parts of the Platform to other users for marketing purposes.
						Please keep this in mind when considering whether to provide any additional information about yourself.
					</li>
					<li>
						Each of your Gear profile pages will always include some minimum information such as the city and neighborhood where the Equipment in the Gear is located, your public profile photo, first name, and location.
						Parts of your Gear pages may be displayed in other parts of the Platform to other users for marketing purposes.
						The Platform may also display the approximate geographic location of your listed items on a map, including on the Gear page, in search results or otherwise, so that a user can see the general area of the listed tem.
					</li>
					<li>
						The Platform allows your public profile and public Gear profile pages to be included in search engines, in which case your public profile and public Gear profile pages will be indexed by search engines and may be published as search results.
						If you change the information on your public profile or public Gear profile pages, third-party search engines may not update their databases quickly or at all.
						We do not control the practices of third-party search engines, and they may use caches containing outdated information, including any information indexed by the search engine before you change your settings or the information on your public profile or public Gear profile pages.
					</li>
					<li>When you submit a reservation request for Gear, your delivery address, if any, will become visible to the Owner.</li>
					<li>
						When your request to book Gear is accepted by the Owner or when you accept a Renter’s request to book your Gear, we will disclose some of your personal information to the Owner or Renter, which may include, without limitation, your address (e.g., for delivery or pick up), e-mail address, and phone number.
						However, your billing information will never be shared with another user.
					</li>
					<li>
						When a Renter rents your Gear or when you rent an Owner’s Gear, we will ask you to review the Renter or Gear.
						If you choose to provide a review, your review may be public on the Platform.
					</li>
					<li>
						If you choose to link your Account to a SNS:
						<ul>
							<li>some of the information you provide to use from the linking of your accounts may be published on your Sharingear account profile;</li>
							<li>your activities on the Platform may be displayed to your Friends on the Platform and/or that third party site;</li>
							<li>other Sharingear users may be able to see any common Friends that you may have with them, or that you are a Friend of their Friend, if applicable;</li>
							<li>other Sharingear users may be able to see your information listed on your social networking site(s) profile, such as schools, hometowns, or groups you have in common; and</li>
							<li>the information you provide us from the linking of your accounts may be stored, processed, and transmitted for fraud prevention and risk assessment purposes.</li>
						</ul>
					</li>
					<li>We may distribute parts of the Platform (including your Gear and information from your public profile page) for display on sites operated by Sharingear’s business partners.</li>
					<li>In order to verify and confirm your postal address or the postal address of Gear, we may send you a code via postal mail to the address provided by you in your account, if any, or to the address contained in a Gear profile and ask that you enter the code via the Site.</li>
					<li>
						We may review, scan, or analyze your communications with other users exchanged via the Platform for fraud prevention, regulatory compliance, risk assessment, investigation, product development, research, and customer support purposes.
						For example, as part of our fraud prevention efforts, the Platform may scan and analyze messages to mask contact information and references to other websites.
						We may also scan, review, or analyze messages for research and product development purposes to help make search, reservations, and user communications more efficient and effective, as well as to debug product offerings.
						We will carry out these reviews or analyses either through automated methods or manually.
						By using the Platform, you consent that Sharingear, in its sole discretion, may review, scan, analyze, and store your communications, whether done manually or through automated means.
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">3. Sharing your information</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					When you use the Platform, your data may be sent to the United States and possibly other countries. Laws vary from jurisdiction to jurisdiction, so the privacy laws applicable to the places where your information is transferred to, stored, used or processed, may be different from the privacy laws applicable to the place where you are a resident.
				</p>
				<p>
					There are circumstances where we may need to share some of the personal information we collect about you or which you provide to us, such as the following:
				</p>
				<ul>
					<li><i>Other Users of the Platform</i>: Any personal information in your member profile (other than your last name, email address, phone number, postal address, and all account details related to receiving payments such as your social security number and bank account number) will be publicly accessible, and anyone may view your profile information, send you messages, view and save your Gear, and make requests to book your Gear.</li>
					<li><i>Renters Who Reserve Your Gear and Owners of Gear You Reserve</i>: Once a reservation requested by a Renter is approved by the Owner, that Owner and Renter’s phone number, address, and e-mail address may be made available to the other.</li>
					<li>
						<i>Sharingear Related Entities</i>:
						We may allow our related entities such as our subsidiaries, and their employees, to use and process your personal information in the same way and to the same extent that we are permitted to under this Privacy Policy.
						These related entities comply with the same obligations that we have to protect your personal information under this Privacy Policy.
					</li>
					<li>
						<i>Service Providers</i>:
						We may engage certain third party companies and individuals to provide us with services related to the Platform, such as processing credit card payments, verifying your identification, or to conduct checks against databases such as public government databases (where legally allowed).
						These third parties may have access to your personal information but only when it is necessary in order for those third parties to provide those services to us.
						We will use commercially reasonable efforts to ensure that such third parties are obligated to protect your personal information and to not use it for unrelated purposes.
					</li>
					<li>
						<i>As Aggregated Data</i>:
						We may aggregate the information we collect, including your personal data, with similar data relating to other users of the Platform in order to create statistical and analytic information regarding the Platform and its use, which we may then share with third parties or make publicly available.
						However, none of this information would include your address, email address, or other contact information, or anything that could be used to identify you individually, either online or in real life.
						We may publish, disclose, and use this aggregated information and non-personal information for industry analysis, demographic profiling, marketing and advertising, and other business purposes.
						This information may also be used to develop website content and services that you and other users will find of interest and to target content and advertising.
					</li>
					<li>
						<i>As Required by Law</i>:
						We will disclose your personal information if we believe in good faith that we are permitted or required to do so by law, including in response to a court order, subpoena, or other legal demand or request.
						We will use commercially reasonable efforts to notify users about law enforcement requests for their data unless prohibited by law or by the government request, or if doing so would be futile or ineffective.
					</li>
					<li>
						<i>To Protect Our Interests</i>:
						We may access, preserve, and disclose your personal information if we in good faith believe it is necessary:
						<ol class="sg-alphalist">
							<li>to respond to claims asserted against Sharingear;</li>
							<li>to enforce and administer our agreements with users, such as our <strong>Terms of Service</strong>;</li>
							<li>for fraud prevention, risk assessment, investigation, customer support, product development and de-bugging purposes; or</li>
							<li>to protect or defend the rights, property, interests, and personal safety of Sharingear, its employees, directors, shareholders, partners, affiliates, users, and members of the general public.</li>
						</ol>
					</li>
					<li><i>In a Business Transfer</i>: We may sell, transfer, or share your personal information to any person or company that acquires all or substantially all of the assets or business of Sharingear, or on a merger, acquisition, or reorganization of our business, or in the event of our insolvency.</li>
					<li><i>With Your Consent</i>: We may disclose your personal information other than as described in this Privacy Policy if you have explicitly agreed that we may do so. We will make this clear to you prior to any such disclosure.</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">4. Third-party websites</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					There are a number of places on the Platform where you may click on a link to access other websites that are not owned or controlled by Sharingear and do not operate under this Privacy Policy.
					These third-party websites may place their own cookies, web beacons and files on your device, or independently solicit and collect information, including personal information, from you.
					We recommend that you consult the privacy policies of all third-party websites you visit.
				</p>
				<p>
					Some portions of the Platform implement Google Maps/Earth mapping services, including Google Maps API(s).
					Your use of Google Maps/Earth through the Platform is subject to Google’s terms of use (located at <a href="http://www.google.com/intl/en_us/help/terms_maps.html">http://www.google.com/intl/en_us/help/terms_maps.html</a>) and Google’s privacy policy (located at <a href="http://www.google.com/policies/privacy/">http://www.google.com/policies/privacy/</a>), as may be amended by Google from time to time.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">5. Your choices</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					You may review, update, or correct the personal information in your Sharingear account by logging into your account.
					You can choose to not provide us with certain information but that may result in you being unable to use certain features of the Platform.
					You can request for us to delete your account entirely by emailing us at <a href="mailto:support@sharingear.com">support@sharingear.com</a>.
					Please note that reviews, forum postings and similar materials posted by you may continue to be publicly available on the Platform in association with your first name, even after your Sharingear account is cancelled.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">6. Security of your personal information</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					We have implemented reasonable administrative, technical, and physical security measures to protect your Personal Information against unauthorized access, destruction, or alteration; however, no method of transmission over the Internet, and no method of storing electronic information, can be 100% secure, so we cannot guarantee the absolute security of your transmissions to use and of your personal information that we store.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">7. Children</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					This Platform is not intended for use by children.
					Anyone under the age of 13 is not permitted to use the Platform and must not attempt to register an account or submit any personal information to us.
					We do not knowingly collect any personal information from any person who is under the age of 13 or allow them to register an account.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">8. Using the platform from outside europe</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					This Privacy Policy is intended to cover collection of information on or via the Platform from residents of Europe.
					If you are using the Platform from outside Europe, please be aware that your information may be transferred to, stored, and processed in the Europe where our servers are located and our central database is operated.
					The data protection and other laws of Europe and other countries may not be as comprehensive as those in your country.
					By using the Platform, you understand and agree that your information may be transferred to our facilities and those third parties with whom we share it as described in this Privacy Policy.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">9. No rights of third parties</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					This Privacy Policy does not create rights enforceable by third parties or require disclosure of any personal information relating to users of the Platform.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">10. Changes to this Privacy Policy</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					We will occasionally update this Privacy Policy to reflect changes in our practices and services.
					When we post changes to this Privacy Policy, we will revise the “Last Updated” date at the top of this Privacy Policy.
					If we make any material changes in the way we collect, use, and/or share your personal information, we will notify you by posting a notice of the change on the Site or by sending an email to the email address you most recently provided us in your account, profile, or registration.
					We recommend that you check the Site from time to time to inform yourself of any changes in this Privacy Policy or to any of our other policies.
					Your continued use of the Platform after we post any such change shall indicate your agreement to be bound by the revised terms.
					If you do not wish to agree to the changed Privacy Policy, then we will not be able to continue providing the Platform to you, and your only option will be to stop accessing the Platform and deactivate your Sharingear account.
					To deactivate your account, please email <a href="mailto:support@sharingear.com">support@sharingear.com</a>.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<h3 class="sg-h3 sg-blue">11. Contact us</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
				<p>
					If you have questions or concerns about this Privacy Policy, please contact us by email at <a href="mailto:support@sharingear.com">support@sharingear.com</a>.
				</p>
			</div>
		</div>

	</div>

	<footer></footer>
</div>
