<div class="view search searchiefix">
  <div class="jumbotron">
    <div class="sg-tab-panel" id="search-searchform-gear">
      <div class="searchform-container sg-darkergray-bg"></div>
    </div>

    <div class="sg-tab-panel hidden" id="search-searchform-technicians">
      <div class="searchform-container sg-darkergray-bg"></div>
    </div>

    <div class="sg-tab-panel hidden" id="search-searchform-vans">
      <div class="searchform-container sg-darkergray-bg"></div>
    </div>
  </div>

  <div class="container-fluid search-results">
    <div class="row map-row">
		  <div class="col-sm-6 map-col">
        <div class="searchmap" id="search-map"></div>  
      </div>
		  <div class="col-xs-12 col-sm-6 search-results-col bs-reset">
        <ul class="sg-tabs sg-tabs-3 sg-darkergray-bg sg-white">
    		  <li class="sg-action-blue-bg sg-white active">
            <button class="sg-btn-invisible" id="search-tab-gear">
              <div class="sg-icon icon-tabbar-gear"></div>
              <div class="sg-btn-text">GEAR</div>
            </button>
          </li>
    		  <li class="sg-action-blue-bg sg-white">
            <button class="sg-btn-invisible" id="search-tab-technicians">
              <div class="sg-icon icon-tabbar-technicians"></div>
              <div class="sg-btn-text">TECHNICIANS</div>
            </button>
          </li>
    		  <li class="sg-action-blue-bg sg-white">
            <button class="sg-btn-invisible" id="search-tab-vans">
              <div class="sg-icon icon-tabbar-vans"></div>
              <div class="sg-btn-text">VANS &amp; BUSES</div>
            </button>
          </li>
        </ul>
        <div class="row bs-reset sg-darkergray-bg sg-white currentlocation-container">
				  <div class="col-sm-12" id="search-currentlocation"></div>
        </div>
        <div class="row searchresults bs-reset" id="search-results-gear"></div>
        <div class="row searchresults bs-reset hidden" id="search-results-techprofiles"></div>
        <div class="row searchresults bs-reset hidden" id="search-results-vans"></div>
        
        <div class="no-results no-results-gear hidden">
          <div class="row sorry-section bs-reset">
            <h1>Sorry, no instruments matching your search were found.</h1>
          </div>
          <div class="row request-section bs-reset">
            <h2>Request an instrument: </h2>
            <a href="javascript:;" class="fb-share-btn"><img src="images/fb_share_noitems.png" class="responsive-img"></a>
          </div>
        </div>

        <div class="no-results no-results-vans hidden">
          <div class="row sorry-section bs-reset">
            <h1>Sorry, no vehicles matching your search were found.</h1>
          </div>
          <div class="row request-section bs-reset">
            <h2>Request a vehicle: </h2>
            <a href="javascript:;" class="fb-share-btn"><img src="images/fb_share_noitems.png" class="responsive-img"></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>