<div class="searchform">
  <form class="form-inline" id="techprofilesearchform-form" role="form" autocomplete="off" onsubmit="return false;">
    <div class="form-group">
      <label class="sg-blue">Find your technician</label>
      <input type="search" class="form-control" id="techprofilesearch-techprofile" placeholder="technician, manager, etc.">
      <div class="suggestion-box hidden" id="techprofiles-suggestions-box"></div>
    </div><div class="form-group">
      <label class="sg-blue">Find a location</label>
      <input type="text" class="form-control" id="techprofilesearch-location" placeholder="">
    </div><div class="form-group search-pickup-container">
      <label class="sg-blue">Pickup</label>
      <input type="text" class="form-control" id="techprofilesearch-pickup" placeholder="15/08/1969" >
    </div><div class="form-group search-return-container">
      <label class="sg-blue">Delivery</label>
      <input type="text" class="form-control" id="techprofilesearch-return" placeholder="18/08/1969" >
    </div><div class="form-group submit-container">
      <input type="submit" id="techprofilesearchform-submit-btn" class="sg-btn sg-blue-bg sg-white" value="Search">
    </div>
  </form>
</div>
