<div class="testimonial stephen-carpenter-deftones">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 text-center">
      <div class="profile-pic"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <p class="text-center sg-white">
        "{{citation}}"
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 sg-white text-center name">
      {{name}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 sg-blue text-center">
      <span class="role">{{role}}</span>, <span class="band">{{band}}</span>
    </div>
  </div>
</div>