<div class="container-fluid view user sg-lightgray-bg">
  <div class="row sg-card bs-reset view-descriptor sg-no-mobile">
    <div class="col-sm-12 sg-white-bg sg-gray"><div class="sg-icon icon-dashboard-profile"></div> USER PROFILE</div>
  </div>
  <div class="row bs-reset">
    <div class="col-sm-4 bs-reset">
      <div class="row sg-card sg-card-follower">
        <div class="col-sm-12 bs-reset sg-white-bg">
          <div class="profile-pic-container sg-lightgray-bg">
            <div class="profile-pic"></div>
          </div>
          <div class="name sg-darkergray text-center">{{name}}</div>
          <div class="tagline sg-gray text-center">Sharingear first-mover</div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 bs-reset">
      <div class="row sg-card sg-card-follower">
        <div class="col-sm-12 sg-white-bg">
          <ul class="sg-tabs sg-tabs-4">
            <li class="sg-blue active"><button class="sg-btn-invisible" data-tab="info"><div class="sg-icon icon-info"></div></button></li>
            <li class="sg-blue"><button class="sg-btn-invisible" data-tab="gear"><div class="sg-icon icon-dashboard-yourgear"></div></button></li>
            <li class="sg-blue disabled"><button class="sg-btn-invisible"><div class="sg-icon icon-dashboard-yourtechprofile"></div></button></li>
            <li class="sg-blue disabled"><button class="sg-btn-invisible"><div class="sg-icon icon-dashboard-yourvans"></div></button></li>
          </ul>

          <div class="sg-tab-panel info">
            <div class="row">
              <div class="col-sm-12">
                <h3>Biography</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 bio">
                {{bio}}
              </div>
            </div>
          </div>

          <div class="sg-tab-panel gear hidden">
            <div class="row">
              <div class="col-sm-12">
                <h3>Gear</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>