<div class="row sg-list-item">
    <div class="col-xs-2">
        <div class="sg-bg-image"></div>
    </div>
    <div class="col-xs-8">
        <div class="sg-list-item-text">{{van_type}} {{model}}</div>
    </div>
    <div class="col-xs-2 bs-reset">
    	<div class="button-container">
        	<a href="#!vanprofile/{{id}}" class="sg-btn-invisible sg-white yourvan-item-view-btn"><div class="sg-iconbg-round-40 sg-gray-bg"><div class="sg-icon icon-view"></div></div><div class="sg-btn-text sg-gray">View</div></a>
        </div>
    </div>
</div>
