<div class="row yourrentals-item">
    <div class="col-xs-12">
        <span class="pull-right">{{gear_status}}</span>
    </div>
    <div class="col-xs-12 col-md-3" style="height: 200px;">
        <img src="{{img_url}}" alt="{{model}}" style="max-height: 100%; max-width: 100%;">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="clearfix">
            <h2 style="margin-top: 0;text-transform: capitalize;">{{type}}</h2>
            <h4><span class="fa moretextyourgear icon"></span>{{brand}} {{subtype}} {{model}}</h4>
            <div class="pull-left">
                <ul class="list-unstyled">
                    <li class="symbolyourgear">{{price_a}} DKK/hour</li>
                    <li class="symbolyourgear">{{price_b}} DKK/day</li>
                    <li class="symbolyourgear">{{price_c}} DKK/week</li>
                </ul>
            </div>
            <div class="pull-right symbolyourgear">{{city}}</div>
        </div>
        <div>
            <div class="clearfix"></div>
            <div>
                <a href="#gearprofile/{{id}}" class="pull-right btn btn-primary price-button-margin">View profile</a>
            </div>
        </div>
    </div>
</div>
