<div class="row bs-reset sg-list-item">
    <div class="col-xs-2 bs-reset">
        <div class="sg-bg-image text-center"><div class="sg-icon icon-addtechprofile-{{icon}}"></div></div>
    </div>
    <div class="col-xs-7">
        <div class="sg-list-item-text">{{roadie_type}}</div>
    </div>
    <div class="col-xs-3 bs-reset">
        <div class="button-container">
            <a href="#techprofile/{{id}}" class="sg-btn-invisible sg-white yourtechprofiles-item-view-btn"><div class="sg-iconbg-round-40 sg-gray-bg"><div class="sg-icon icon-view"></div></div><div class="sg-btn-text sg-gray">View</div></a>
        </div>
        <div class="button-container">
            <button class="sg-btn-invisible sg-white yourtechprofiles-item-edit-btn" data-yourvanid="{{id}}"><div class="sg-iconbg-round-40 sg-gray-bg"><div class="sg-icon icon-edit"></div></div><div class="sg-btn-text sg-gray">Edit</div></button>
        </div>
    </div>
</div>
