<div class="row yourgear-item">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="height: 200px;">
        <img src="{{img_url}}" alt="{{model}}" style="max-height: 100%; max-width: 100%;">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="clearfix">
          <h4><span class="fa moretextyourgear icon"></span>{{brand}} {{subtype}} {{model}}</h4>
            <div class="pull-left">
                <span class="symbolyourgear">€{{price_a}}/day</span>
            </div>
            <div class="pull-right symbolyourgear">{{city}}</div>
        </div>
        <div>
            <div class="clearfix"></div>
            <div style="padding-top:80px;">
              <a href="#gearprofile/{{id}}" class="pull-left btn btn-primary">View profile</a>
            <button type="button" class="pull-right btn btn-primary btn-edit" data-yourgearid="{{id}}">Edit</button>
          </div>
        </div>
    </div>
</div>
